{template $settings["themes"] . '/common/header-base'}
<!-- 页面区域 -->
<div id="J_PAGE_MYKANJIA" class="page">
  {template $settings["themes"] . '/common/page-header'}
  <!-- 内容区域 | 滚动加载 -->
  <div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
    <div id="J_PAGE_CONTENT" class="kj-content">
      {loop $list $item}
      <a class="card" href="{php echo $this->createMobileUrl('detail', array('rid'=>$item['rid']));}">
        <div class="card-header color-white no-border">
          <img width="100%" src="{php echo tomedia($item['cover']);}"/>
        </div>
        <div class="card-content">
          <div class="card-content-inner">
            <div class="name">{$item['title']}</div>
          </div>
        </div>
        <div class="card-footer clearfix">
          <div class="card-info">
            <div class="clearfix">
            <div class="pull-left">原价：<del class="color-gray">¥&nbsp;{$item['pprice']}</del></div>
              <div class="pull-right">库存：<span class="color-primary">{php echo $item['pweight']-$item['psold']}</span></div>
            </div>
            <div class="clearfix">
              <div class="pull-left">现价：<b class="color-primary">¥&nbsp;{$item['price']}</b></div>
              <div class="pull-right">{php echo ($item["join"]+$item["help"]);}&nbsp;人关注</div>
            </div>
          </div>
          <div class="card-button">
            <button class="button button-fill">查看详情</button>
          </div>
        </div>
      </a>
      {/loop}
    </div>
    <!-- 加载提示 -->
    <div class="infinite-scroll-preloader" style="display:none;">
      <div class="preloader"></div>
    </div>
  </div>
  <!-- 页面js -->
  <script type="text/javascript">
    var PAGE = {php echo ++$page;};
    var PAGE_URL = "{php echo $this->createMobileUrl('mykanjia');}";
  </script>
</div>
{template $settings["themes"] . '/common/page-footer'}
{template $settings["themes"] . '/common/footer-base'}
