
<!doctype html>
<html>
<head>
<title>我的活动</title>
<meta charset="utf-8">
<link rel="stylesheet" href="./style/img/mobi.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="分享达人" />
<meta name="Keywords" content="分享达人" />
</head>
<body style="background-image:url(./style/img/bg.jpg);">
<section class="main animated fadeInDown">
  <div class="main-box">
    <div class="activity-list">
            <div class="regular activity-box">
			您还没有参加活动！
	  </div>    </div>
  </div>
  <footer class="foot"><style>
#copyright {width: 100%;height: 50px;line-height: 50px;text-align:center; color:#333;font-size: 15px;}
</style>
<div id="copyright" style="color:#fff;">技术支持：{$_W['account']['name']}</div></footer>
</section>
<nav class="nav fn-clear"> 
	<a href="index.html" class="active"><i class="icon-award"></i>达人活动</a> 
	<a href="played.html"><i class="icon-inbox"></i>我的活动</a> 
	<a href="userInfo.html"><i class="icon-user-1"></i>个人中心</a> 
</nav>
<script src="http://g.tbcdn.cn/kissy/m/0.2.0/mini-full-min.js"></script> 
<script src="./style/img/mobi.js"></script>
</body>
</html>