{template 'common/header'}
<div class="main">
{php load()->func('tpl');}
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">参数设置</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">百度AK：</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="ak" class="form-control" value="{$settings['ak']}" />
						<a target="_blank" href="http://lbsyun.baidu.com/apiconsole/key">	
							百度ak申请地址：http://lbsyun.baidu.com/apiconsole/key</a>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">顶部图片：</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('pic', $settings['pic'])}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">链接网址：</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="urls" class="form-control" value="{$settings['urls']}" />
						<font color="red">注:此为粉丝点击天气跳转的网址，http://开头</font>
					</div>
				</div>
				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
{template 'common/footer'}