<!DOCTYPE html><html>
	<head lang="en">
		 {php echo register_jssdk();}
    <script>
        wx.ready(function () {
        shareData = {
            'title' : "{$data['share_title']}",
            'desc': "{$data['share_desc']}",
            'link': "{$_W['siteroot']}app/{php echo str_replace('./','',$this->createMobileUrl('index'))}",
            'imgUrl': "{php echo tomedia($data['share_image'])}",
        };
        //分享朋友
    wx.onMenuShareAppMessage({
        title: shareData.title,
        desc: shareData.desc,
        link: shareData.link,
        imgUrl:shareData.imgUrl,
        trigger: function (res) {
        },
        success: function (res) {
        	alert('分享成功！');
            location.href='{php echo $this->createMobileUrl('index');}';
        },
        cancel: function (res) {
            alert('分享是一种美德哦！');
        },
        fail: function (res) {
            alert(JSON.stringify(res));
        }
    });
//朋友圈
    wx.onMenuShareTimeline({
        title: shareData.title,
        link: shareData.link,
        imgUrl:shareData.imgUrl,
        trigger: function (res) {
        },
        success: function (res) {
            alert('分享成功');
        },
        cancel: function (res) {
            alert('分享是一种美德哦！');
        },
        fail: function (res) {
            alert(JSON.stringify(res));
        }
        });
    });
    </script>
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../addons/beauty_zhongchou/template/css/style.css">
    <script src="../addons/beauty_zhongchou/template/js/hm.js?1d8e5e369a6dac5eeb5788f5e623a38d"></script>
    <script type="text/javascript" src="../addons/beauty_zhongchou/template/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../addons/beauty_zhongchou/template/js/iscroll.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?1d8e5e369a6dac5eeb5788f5e623a38d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
<style>
.btn {
    width: 237px;
    height: 67px;
    text-align: center;
    color: #133990;
    font-size: 28px;
    background: url("../addons/beauty_zhongchou/template/imgs/btn-bg.png");
    line-height: 58px;
    font-weight: 600;
}
.lockDiv 
		{ 
			width:100%; 
			height:100%; 
			background-color:#000 ; 
			position:fixed; 
			top:0px; 
			left:0px; 
			opacity:0.2; 
		} 
</style>
</head>
<body onload="loaded()">
	<!-- 规则 -->
				<div class="alert_box" id="rule_box" style="position: fixed;top:30px;z-index: 12;left:9%;width: 82%;max-width:530px;background:#fffcee;padding: 5% 0 3%;border-radius: 5%;display: none;">
					<img src="../addons/rebate/template/imgs/exit.png" class="exit" id='offf2' style="width: 10%;float: right;margin-right: -5%;margin-top: -10%;">
					<img src="../addons/rebate/template/imgs/rule.jpg">
					<ul class="rule_list">
						<li>
							<i class="num1"></i>
							<i class="con">{$rule}</i>
						</li>
					</ul>
				</div>
<div class="wrapper">
    {if empty($data['p3-bg'])}
			<div class="page3" style=" background: url('../addons/beauty_zhongchou/template/imgs/11111.jpg') no-repeat;" id="page3">
			{else}
			<div class="page3" style=" background: url('{php echo tomedia($data['p3-bg'])}') no-repeat;" id="page3">
			{/if}
        <div class="btn-share" id="rule2"><img src="../addons/beauty_zhongchou/template/imgs/btn-share.png"></div>
        <!--id="ruleBtn"-->
        <div class="slogan2"><img src="{php echo tomedia($data['p3-slogn'])}"></div>
        <div class="headbg2"><img src="../addons/beauty_zhongchou/template/imgs/headbg2.png"></div>
        <div class="head2"><img src="{php echo tomedia($fromprofile['avatar'])}"></div>

        <div class="p3-str" style="font-size:35px;color: white;text-align: center;">
        	<img src="{php echo tomedia($data['p3-str'])}">
        </div>
					{if empty($res)}
					
					<a href="{php echo $this->createMobileUrl('topay', array('fromopenid'=>$fromopenid));}">
               		 <div class="p3-1yuan btn">{$data['btn3']}</div>
           			</a>
					{else}
					<div class="p3-1yuan btn"> 已支持{$price}元</div>
					{/if}
                <a href="{php echo $this->createMobileUrl('openshare');}"><div class="p3-wyyml btn"> {$data['btn4']}</div></a>
        <div class="rankDiv3" id="rankDiv">
            <div id="scroller" style="transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); -webkit-transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); transform: translate(0px, 0px) translateZ(0px);">
                <div class="p3-rankstr"><img src="../addons/beauty_zhongchou/template/imgs/p3-rankstr.png"></div>
                {loop $orders $order}
                		<div class="rline"></div>
                        <div class="rankItem">
                            <div class="rhead">
                            	<!--头像-->
                            	<img src="{php echo tomedia($order['avatar'])}"></div>
                            <div class="rmiddle">
                                <div class="rname">{$order['nickname']}</div>
                                <div class="rcontent">"{$order['content']}"</div>
                            </div>
                            <div class="rleft">¥{$order['num']}</div>
                        </div>
                {/loop}
                <div class="clear"></div>
                <div style="width:100%;height:50px;"></div>
            </div>
        </div>
    </div>


    <div class="rulePage" style="display: none;">
        <div class="mask"></div>
        <div class="rule"><img src="../addons/beauty_zhongchou/template/imgs/rule.png"></div>
        <div class="rule-x" id="ruleClose"><img src="../addons/beauty_zhongchou/template/imgs/rule-x.png"></div>
    </div>

</div>
<script>
			$("#offf2").bind("click", function(){
			 	$("#page3").removeClass("lockDiv");
			 	$("#rule_box").hide();
			 });
			 $("#rule2").bind("click", function(){
				$("#page3").addClass("lockDiv");
				$("#rule_box").css('display','block');
			 });
</script>
<script>
    document.addEventListener('touchmove', function (e) {
        e.preventDefault();
    }, false);
    var myScroll;
    function loaded() {
        myScroll = new IScroll('#rankDiv');
    }
    $(document).ready(function () {
        $("#ruleBtn").click(function () {
            $(".rulePage").show();
        });
        $(".rulePage").click(function () {
            $(this).hide();
        });
    });
</script>
<script src="js/jweixin-1.0.0.js"></script>

</body><iframe id="__WeixinJSBridgeIframe_SetResult" style="display: none;"></iframe><iframe id="__WeixinJSBridgeIframe" style="display: none;"></iframe></html>