body{
	font-family: Arial, 宋体;
	background: #e3e4e3;
}
input,
select,
textarea{
	font-family: Arial, 宋体;
}
.wrap{
	width: 100%;
	/*margin: 0 auto;*/
	/*position: relative;*/
}










/*----------header----------*/
.header{

}










/*----------mainer----------*/
.mainer{

}
.page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}









/*----------footer----------*/
.footer{

}










/*----------custom----------*/