<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>du1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,452}}</string>
                <key>sourceSize</key>
                <string>{320,452}</string>
            </dict>
            <key>du2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,326},{158,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,247}}</string>
                <key>sourceSize</key>
                <string>{158,247}</string>
            </dict>
            <key>du3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{213,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,276}}</string>
                <key>sourceSize</key>
                <string>{213,276}</string>
            </dict>
            <key>du4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{160,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,318}}</string>
                <key>sourceSize</key>
                <string>{160,318}</string>
            </dict>
            <key>du5.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,280},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,164},{160,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,315}}</string>
                <key>sourceSize</key>
                <string>{160,315}</string>
            </dict>
            <key>yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,2},{213,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,189}}</string>
                <key>sourceSize</key>
                <string>{213,189}</string>
            </dict>
            <key>yan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,503}}</string>
                <key>sourceSize</key>
                <string>{320,503}</string>
            </dict>
            <key>yan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,217},{213,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,252}}</string>
                <key>sourceSize</key>
                <string>{213,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_ui.png</string>
            <key>size</key>
            <string>{1716,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77084c693cc0336edd25d4891072bce4:1/1$</string>
            <key>textureFileName</key>
            <string>building_ui.png</string>
        </dict>
    </dict>
</plist>
