
<!doctype html>
<html>
<head>
<title>活动规则</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../addons/fxdaren/style/img/mobi.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="分享达人" />
<meta name="Keywords" content="分享达人" />
</head>
<body style="background-image:url(../addons/fxdaren/style/img/bg.jpg);">
<section class="main animated fadeInDown">
  <div class="main-box client">
    <div class="regular rule">

      <div>
        {$rule}
		</div>

    </div>
  </div>
  <footer class="foot"><style>
#copyright {width: 100%;height: 50px;line-height: 50px;text-align:center; color:#333;font-size: 15px;}
</style>
<div id="copyright" style="color:#fff;">技术支持：{$_W['account']['name']}</div></footer>
</section>
<script src="http://g.tbcdn.cn/kissy/m/0.2.0/mini-full-min.js"></script> 

<script type="text/javascript">
//显示分享按钮
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call(showOptionMenu);
});
</script>

</body>
</html>