<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$row['title']}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="keywords" content="{$row['title']}">
	<meta name="description" content="{$row['title']} {php echo ihtmlspecialchars(strip_tags($row['contact']))}">
	<link rel="shortcut icon" href="../addons/msyou_facedoubi/icon.jpg">
	<script type="text/javascript" src="resource/js/lib/jquery-1.11.1.min.js" />
	<script type="text/javascript">
	if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
	}
	</script>
