<style>
.paycover{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	display: none;
}
.paycover .paybg{
	  position: absolute;
	  width: 80%;
	  left: 10%;
	  top: 10%;
	  background: white;
	  border-radius: 5px;
}
.paycover .paybg .paytitle{
text-align: center;
  padding: 20px 0;
  color: orangered;
  font-weight: bold;
}
.paycover .paybg .payinput{
	text-align: center;
}
.paycover .paybg .payinput input{
  width: 80%;
  border-radius: 5px;
  border: 1px solid gainsboro;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 5px;
}
.paycover .paybg .payinput textarea{
  width: 80%;
  border-radius: 5px;
  border: 1px solid gainsboro;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 5px;
}

.paycover .paybg .paybtn{
	text-align: center;
}
.paycover .paybg .paybtn button{
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  padding: 5px 12px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.paycover .paybg .paybtn .paysubmit{
	background: orangered;
}
.paycover .paybg .paybtn .payclose{
	margin-left: 30px;
	background: gray;
}
</style>
<div class="paycover">
	<div class="paybg">
		<div class="paytitle">填写收货人信息！</div>
		<div class="payinput"><input  id="realname" placeholder="收货人姓名" value="{$player['realname']}"></div>
		<div class="payinput"><input type="tel"  id="mobile" placeholder="收货人手机号码" value="{$player['mobile']}"></div>
		<div class="payinput"><textarea id="address" placeholder="收货人详细地址">{$player['address']}</textarea></div>
		<div class="paybtn">
			<button class="paysubmit" name="submit" type="button" onclick="exchange()">提交</button>
			<button type="button" onclick="$('.paycover').hide();" class="payclose">取消</button>
		</div>
	</div>
</div>
