{template 'common/header'}
	<ul class="nav nav-tabs">
		<li class="active"><a href="{php echo $this->createWebUrl('system');}">系统说明</a></li>
		
	</ul>
	<div class="clearfix">
		<div class="alert alert-danger">
			<h4>模块使用说明</h4>
			摇周边红包说明：<br>
			1)、采用摇一摇周边提供的原生摇红包接口<br>
			2)、无服务器压力而言<br>
			3)、摇一摇周边红包-只能通过摇一摇周边获取，一个活动一个用户只能领取一次<br>
			4)、<font color="red">注意：活动设置完成后，需要登录摇周边后台，把我们添加的活动页配置到设备中；</font>
			<br><br>
			证书设置：<br>
			1)、<a href="{php echo url('profile/payment');}"><i class="fa fa-link"></i> 设置支付参数</a><br>
			2)、上传微信证书，证书路径-微信支付商户后台-安全中心<br>
			3)、微信支付商户后台充值费用<br>
			4)、关于证书安全，模块已经对证书进行了加密；<br>
			<br>
			操作步骤说明：<br>
			操作步骤分为：「预下单生成」 - 「一键下单」 - 「一键导入红包」
			<br>
			1)、「预下单生成」: 提前在系统中生成红包订单，但不提交到微支付服务器。<br>
			2)、「一键下单」: 将「预下单生成」的红包订单提交到微支付服务器中，届时请确保微支付帐号中有足够的金额进行支付！<br>
			3)、「一键导入红包」: 将成功下单的红包，加入到远程摇红包活动中去，让用户可以抽取到。否则72小时后，红包金额退回微支付账户中。<br>
			<br>
			关于活动说明：<br>
			1)、为什么没有做卡券？微信原生的卡券，很难颠覆了，回归原生卡券！<br>
			2)、为什么只做了红包？卡券用户摇到领取后可以到店，红包摇到可以默认关注！<br>
		</div>
	</div>
{template 'common/footer'}