<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link href="../addons/water_xfzc/template/css/hotels.css"
	rel="stylesheet" type="text/css">
<title>微信支付</title>
</head>
<body style="padding-top: 20px;">
	<style>
.deploy_ctype_tip {
	z-index: 1001;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 50%;
	margin-top: -23px;
	left: 0;
}

.deploy_ctype_tip p {
	display: inline-block;
	padding: 13px 24px;
	border: solid #d6d482 1px;
	background: #f5f4c5;
	font-size: 16px;
	color: #8f772f;
	line-height: 18px;
	border-radius: 3px;
}
</style>
	<div id="payDom" class="cardexplain">
		<ul class="round">
			<li class="title mb"><span class="none">支付信息</span></li>
			<li class="nob">
				<form action="{php echo $this->createMobileUrl('dopay')}"
					method="post" onsubmit = "return check();">
					<table width="100%" border="0" cellspacing="0" cellpadding="0"
						class="kuang">
						<tbody>
							<tr>
								<th>金额</th>
								<td>{$price}元</td>
							</tr>
							<tr>
								<th>电话</th>
								<td><input type="text" value="" id="tel" name="tel" value="{$fans['tel']}" /></td>
							</tr>
							<input type="hidden" value="{$price}" id="price" name="price" />
							<input type="hidden" value="{$memberid}" id="memberid"
								name="memberid" />
							<input type="hidden" value="{$themeid}" id="themeid"
								name="themeid" />
						</tbody>
					</table>
			</li>
		</ul>
		<div class="footReturn" style="text-align: center">
			<input type="submit" style="margin: 0 auto 20px auto; width: 100%"
				class="submit" value="点击进行微信支付">
		</div>
		<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
	</form>
	<script type="text/javascript">
	 function check(){
		 var tel = document.getElementById("tel").value;
		 var type =  /^\d{11}$/;
		 var reg = new RegExp(type);
	     if(!reg.test(tel)){
	        alert("请输入正确电话号码!");
	        return false;
	     }
	     return true;
	 }
	</script>
	<!-- <div id="failDom" style="display:none" class="cardexplain">
<ul class="round">
<li class="title mb">
<span class="none">支付结果</span></li>
<li class="nob">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="kuang">
<tbody><tr><th>支付失败</th><td><div id="failRt"></div></td></tr></tbody></table></li></ul>
<div class="footReturn" style="text-align:center"><input type="button" style="margin:0 auto 20px auto;width:100%" onclick="callpay()" class="submit" value="重新进行支付"></div></div> -->
	<!-- <div id="successDom" style="display:none" class="cardexplain"><ul class="round">
<li class="title mb">
<span class="none">支付成功</span></li>
<li class="nob"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="kuang"><tbody><tr><td>您已支付成功，页面正在跳转...</td></tr></tbody></table>
<div id="failRt">
</div>
</li>
</ul>
</div> -->
</body>
</html>