<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!-->
<html>
<!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="description" content="" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="cleartype" content="on" />
<meta content="telephone=no" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Mobile Devices Support @end -->
<title>{$reply['title']}</title>
 
 
<link href="{MODULE_URL}template/mobile/css/css.css?{TIMESTAMP}" type="text/css" media="screen" rel="stylesheet"  />
<script type="text/javascript" src="{MODULE_URL}template/mobile/js/jquery-1.11.0.min.js"></script>
<script src="{MODULE_URL}template/mobile/js/imagesloaded.pkgd.min.js"></script>
<script src="{MODULE_URL}template/mobile/js/Cmn.js" type="text/javascript"></script>
<script src="{MODULE_URL}template/mobile/js/CmnAjax.js" type="text/javascript"></script>
<script src="{MODULE_URL}template/mobile/js/CmnFuncExd.js" type="text/javascript"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/js/bigbackfrm.js"></script>
<script type="text/javascript"  src="{MODULE_URL}template/mobile/js/tinyboxdialog.js"></script>
<script type="text/javascript">
Cmn.Func.MobileAdaptive(889);
//template/mobile/img/bg.jpg
</script>
<style>
.bg-1{background:url({php echo toimage($reply['indexbg'])}) no-repeat; background-size:100% 100%;}
</style>
</head>

<body>
<!--  HEADER HTML END  -->
<div class="container">
	 


	<div class="wrap bg-1">
		<div class="swiper-wrapper">
			<div class="top-roll">
	<marquee> 
		{php echo strip_tags(htmlspecialchars_decode($reply['advert']));}
	</marquee>
</div>			
			<!--
			<p class="showzs"> 当前参与人数<br/>00133320人  </p>
			img class="qrcode" src="source/modules/shake/style/qrcode.jpg" /-->
			<!--<img class="index-logo" src="{MODULE_URL}template/mobile/img/logo.png" />-->


			<div class="footer-div">
				<div class="footer">
					<a class="btn-1" href="{php echo $this->createMobileUrl('rule',array('id'=>$id))}"></a>
					<a class="btn-2" href="{php echo $this->createMobileUrl('main',array('id'=>$id))}"></a>
					<a class="btn-3" href="{$reply['custom']}"></a>
				</div>
			</div>

		</div>
	</div>

				 
 

	
							 
				 
</div>

<!--  FOOTER HTML END  -->
<img src="{MODULE_URL}template/mobile/img/hm.gif" width="0" height="0" />
{php echo register_jssdk(false);}
<script type="text/javascript">
	wx.ready(function () {
		sharedata = {
			  title: "{php echo $reply['sharetitle']}",
                desc: "{php echo strip_tags(htmlspecialchars_decode($reply['sharedesc']));}",
			    link: "{php echo $_W['siteroot'].str_replace('./','app/',$this->createMobileurl('index',array('id' => $id)));}",
				imgUrl: "{php echo toimage($reply['sharepic'])}",
			success: function(){
				
			},
			cancel: function(){
				//alert('cancel');
			}
		};
		
		wx.onMenuShareAppMessage(sharedata);
		wx.onMenuShareTimeline(sharedata);
	});
	
	</script>

</body>
</html>
