<footer class="foot">
<ul>
    <li><a href="{php echo $this->createMobileUrl('index')}">缘分</a></li>
    <li><a href="{php echo $this->createMobileUrl('mail')}">聊天</a></li>
    <li><a href="{php echo $this->createMobileUrl('luck')}">附近</a></li>
    <li><a href="{php echo $this->createMobileUrl('geren')}">我</a></li>
</ul>
{if !empty($sitem['copyright'])}
<p>
	<a style="color:#999" {if !empty($sitem['copyrighturl'])}href="{$sitem['copyrighturl']}" target='_blank' {else}href="javascript:void(0);" {/if}>© {$sitem['copyright']}</a>
</p>
{/if}

</footer>