<html>
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>{if !empty($sitem['aname'])}{$sitem['aname']}{else}有缘网{/if}</title>
    
        <link href="../addons/jy_ppp/css/public_reset.css" rel="stylesheet" type="text/css" />
        <link href="../addons/jy_ppp/css/public.css" rel="stylesheet" type="text/css" />
        <link href="../addons/jy_ppp/css/pay_intercept.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
<div class="top_blank"></div>
<nav class="nav" style="position: absolute;">
    <h2>领取收信宝</h2>

    <div class="left" onclick="history.go(-1)">
        <i class="le_trg"></i>返回
    </div>
</nav>
<div class="content">
    <section data-type="shouxin">
        <div class="box-shadow">
            {if empty($category)}
                {if $weixin==1}
                <a href="{php echo $this->createMobileUrl('pay',array('op'=>'shouxin','fee'=>100))}"><ul class="click_op" style="margin:0">
                {else}
                <a href="{php echo $this->createMobileUrl('pcpay',array('op'=>'shouxin','fee'=>100))}"><ul class="click_op" style="margin:0">
                {/if}
                    <li>
                        <p class="tit pink"><label style="width:100px">15天</label><span>￥100</span><span></span></p>
                    </li>
                    <li style="color:#EE3869">购买<i class="re_trg"></i></li>
                </ul></a>
                {if $weixin==1}
                <a href="{php echo $this->createMobileUrl('pay',array('op'=>'shouxin','fee'=>50))}"><ul class="click_op" style="margin:0">
                {else}
                <a href="{php echo $this->createMobileUrl('pcpay',array('op'=>'shouxin','fee'=>50))}"><ul class="click_op" style="margin:0">
                {/if}
                    <li>
                        <p class="tit pink"><label style="width:100px">7天</label><span>￥50</span></p>
                    </li>
                    <li style="color:#EE3869">购买<i class="re_trg"></i></li>
                </ul></a>
                {if $weixin==1}
                <a href="{php echo $this->createMobileUrl('pay',array('op'=>'shouxin','fee'=>30))}"><ul class="click_op" style="margin:0">
                {else}
                <a href="{php echo $this->createMobileUrl('pcpay',array('op'=>'shouxin','fee'=>30))}"><ul class="click_op" style="margin:0">
                {/if}
                    <li>
                        <p class="tit pink"><label style="width:100px">3天</label><span>￥30</span></p>
                    </li>
                    <li style="color:#EE3869">购买<i class="re_trg"></i></li>
                </ul></a>
                {if $weixin==1}
                <a href="{php echo $this->createMobileUrl('pay',array('op'=>'shouxin','fee'=>10))}"><ul class="click_op" style="margin:0">
                {else}
                <a href="{php echo $this->createMobileUrl('pcpay',array('op'=>'shouxin','fee'=>10))}"><ul class="click_op" style="margin:0">
                {/if}
                    <li>
                        <p class="tit pink"><label style="width:100px">1天</label><span>￥10</span></p>
                    </li>
                    <li style="color:#EE3869">购买<i class="re_trg"></i></li>
                </ul></a>
            {else}
                {loop $category $c}
                    {if $weixin==1}
                    <a href="{php echo $this->createMobileUrl('pay',array('op'=>'shouxin','fee'=>$c['fee']))}"><ul class="click_op" style="margin:0">
                    {else}
                    <a href="{php echo $this->createMobileUrl('pcpay',array('op'=>'shouxin','fee'=>$c['fee']))}"><ul class="click_op" style="margin:0">
                    {/if}
                        <li>
                            <p class="tit pink"><label style="width:100px">{$c['shouxin']}天</label><span>￥{$c['fee']}</span></p>
                        </li>
                        <li style="color:#EE3869">购买<i class="re_trg"></i></li>
                    </ul></a>
                {/loop}
            {/if}
        </div>

        <p class="click_op_top" style="line-height: 22px;">
            <i style="vertical-align:top;" class="shouxinbao"></i>收信宝服务 <br>
            <span>
                &nbsp;1.省时---每天在线都会有女性用户推荐给你；<br>
                &nbsp;2.省力---每天登录都会替你向女用户打招呼；<br>
                &nbsp;3.省事---女用户可以在茫茫人海中优先找到你。
            </span>
        </p>
    </section>

</div>
</body>
    <script src="../addons/jy_ppp/js/zepto.min.js"></script>
    <script src="../addons/jy_ppp/js/public.js"></script>
    {if $weixin==1}
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    {php $signPackage=$_W['account']['jssdkconfig'];}
    <script>

        var appid = '{$_W['account']['jssdkconfig']['appId']}';
        var timestamp = '{$_W['account']['jssdkconfig']['timestamp']}';
        var nonceStr = '{$_W['account']['jssdkconfig']['nonceStr']}';
        var signature = '{$_W['account']['jssdkconfig']['signature']}';

        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: nonceStr,
            signature: signature,
            jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo']
        });
    </script>
    <script type="text/javascript">
        var params = {
            {if empty($sitem['sharetitle'])}
            title:"有缘网",
            {else}
            title: "{$sitem['sharetitle']}",
            {/if}
            {if empty($sitem['sharedesc'])}
            desc: "有缘网!",
            {else}
            desc: "{$sitem['sharedesc']}",
            {/if}
            link: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('index'),2)}",
            {if empty($sitem['sharelogo'])}
            imgUrl: "{$_W['siteroot']}addons/jy_ppp/icon.jpg",
            {else}
            imgUrl: "{$_W['attachurl']}{$sitem['sharelogo']}",
            {/if}
        };
        wx.ready(function () {
            wx.showOptionMenu();
            wx.onMenuShareAppMessage.call(this, params);
            wx.onMenuShareTimeline.call(this, params);
        });
    </script>
    {/if}
</html>