{template 'header'}
  <link href="../addons/bm_attraction/template/mobile/css/jplayer.css" media="all" rel="stylesheet" type="text/css" />
  <link href="../addons/bm_attraction/template/mobile/css/weilijiang.css" media="screen" rel="stylesheet" type="text/css" /> 
 
    <div class="wrap">
      <div class="video">
        <h2>{$detail['startdesc']}</h2>
        <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;"><img id="jp_poster_0" style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata" src="http://lijiang.1tripweixin.com/uploads/audios/audio_profiles/files/60fc91ad942ff9fe1e7bbe7df2f08923.mp3"></audio></div>
        <div id="jp_container_1" class="jp-video jp-video-360p">
          <div class="jp-type-single">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="jp-gui">
              <div class="jp-video-play" style="display: none;">
                <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
              </div>
              <div class="jp-interface">
                <div class="jp-progress">
                  <div class="jp-seek-bar" style="width: 100%;">
                    <div class="jp-play-bar" style="width: 0%;"></div>
                  </div>
                </div>
                <div class="jp-current-time">00:00</div>
                <div class="jp-duration">01:37</div>
                <div class="jp-controls-holder">
                  <ul class="jp-controls">
                    <li><a href="javascript:;" class="jp-play" tabindex="1" style="display: block;">play</a></li>
                    <li><a href="javascript:;" class="jp-pause" tabindex="1" style="display: none;">pause</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <article class="video-article">
         {$detail['startinfo']}
      </article>
    </div>
	<input type="hidden" name="startrecord" id="startrecord" value="{$detail['startrecord']}" />
  <script src="../addons/bm_attraction/template/mobile/js/jquery.js" type="text/javascript"></script>
  <script src="../addons/bm_attraction/template/mobile/js/jquery.jplayer.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3:$('#startrecord').val()
          }).jPlayer("play");
        },
        swfPath: "js",
        supplied: "mp3",
        wmode: "window"
      });
    });
  </script>
