{template 'header'}
  <link href="../addons/bm_attraction/template/mobile/css/application.css" media="all" rel="stylesheet" type="text/css" />
 <style>
.head{width:100%; height:40px; line-height:40px; background:#5cb85c; margin-bottom:5px; padding:0 5px; color:#FFF; box-shadow:0 2px 2px 0 rgba(0,0,0,0.2); position:fixed; z-index:9000; left:0; top:0;}
.head .bn{display:inline-block; height:30px; line-height:30px; padding:0 10px; margin-top:4px; font-size:30px; color:#FFF; text-decoration:none;}
.head .title{font-size:14pt;display:block;padding-left:10px;font-weight:bolder;margin-right:49px;text-align:center;height:40px;line-height:40px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}
</style>
<div class="head">
	<a href="javascript:history.go(-1);" class="bn pull-left"><i class="icon-angle-left"></i></a>
	<span class="title">{$detail['spottitle']}--景点介绍</span>
<!--	<a href="{php echo $this->createMobileUrl('mycart')}" class="bn pull-right"><i class="icon-shopping-cart"></i><span class="buy-num img-circle" id="carttotal">{$carttotal}</span></a>-->
</div>
  <div class="container" id="map">
   <div class="content-map">
	<p><h3>{$detail['spottitle']}</h3></p>
    <img alt="Default_37ccc3bcb2f9a1ec62d1cc8d22718640" src="{$_W['attachurl']}{$detail['spotpic']}" />
   </div>
    <div class="content-body">
{$detail['spotinfo']}
    </div>   
  </div>