body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
ul,li{list-style:none}
a,a:hover{text-decoration:none; color: #666;}
html,body{ height: 100%;}
h2{ font-size:1.4em;  line-height:1.2em; padding-top:6px; color: #020202;}
body{line-height:1.5;font-size:14px;font-family:Arial, '微软雅黑';-webkit-tap-highlight-color:rgba(0,0,0,0);background:#d6e9e5 url(http://wxfile.10vs100.com/qun/img/bg.jpg) top no-repeat; } 

.title{ width: 80%; overflow: hidden; margin: 12% 10% 8%;}
.title img{ width: 100%; }
.ewm{ width: 84%; overflow: hidden; margin:5% 8% 1%; }
.ewm img{ width: 100%; }
.ewm_text{ width: 90%; overflow: hidden; margin:1% 5%; }
.ewm_text img{ width: 100%; }
.add_wx{ width: 92%; background: #419d18 url(http://wxfile.10vs100.com/qun/img/fdj.png) 5% no-repeat; padding-left: 8%; font-size: 18px; overflow: hidden; line-height: 45px; color: #fff; }
.add_text{ text-align: center; width: 100%; }
.add_wx  span{ color:#ffd800;}
.wx_top{ width: 100%; overflow: hidden;  background: #fff;}
.wx_con{ width: 98%; float: left; padding: 1%;  border-bottom: 1px solid #ccc;}
.wx_top .tx{ width: 110px;  margin: 5%; float: left;}
.wx_top .tx img{ width: 100%; padding: 2px; border: 1px solid #ddd; }

.wx_top .text{ margin-top: 6%  ; float: left;  } 
.wx_top .text .name{ font-size: 31px; color: #020202; }
.wx_top .text .add{color:#494b4f; font-size: 18px; padding-left: 4px;}
.more{ width: 100%; font-size: 16px; text-align: center; background:#f0f0f0; padding:2% 0; }