{template 'common_header'}
    <!-- 头部 -->
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
        <ul class="am-avg-sm-3">
             <li class="am-text-left" style="padding:10px 0 0 5px"><a href="javascript:history.back();" class="am-icon-mail-reply">&nbsp;返回</a></li>
             <li class="am-text-center" style="padding-top:10px"><h4>职位详情</h4></li>
             <li class="am-text-right" style="padding:10px 5px 0 0"><a href="{php echo $this->createMobileUrl('PublicIndex');}" class="am-icon-plus" style="color:#FFF">&nbsp;发布</a></li>
        </ul>
    </header>
    <style>
        .amtxt {margin: 5px 0 0 0}
    </style>
    <div class="am-g" style="margin:5px 0 10px 0">
    	<div class="am-u-sm-12" style="background-color:#FFF">
    		<div class="am-tabs" data-am-tabs="{noSwipe: 1}">
			  <ul class="am-tabs-nav am-nav am-nav-tabs">
			    <li class="am-active" style="width:49%"><a href="#tab1">职位详情</a></li>
			    <li><a href="#tab2">公司信息</a></li>
			  </ul>
			  <div class="am-tabs-bd">
			  	<!-- 职位详情 -->
			    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
			    	<h4 style="margin-bottom: 0"><strong>{$job['title']}</strong></h4>
			    	<p  class="am-text-xs" style="margin-top: 0">{$job['dateline']}&nbsp;&nbsp;{$job['views']}次浏览</p>
			    	<hr>
					<p class="am-text-default amtxt">招聘职位：&nbsp;&nbsp;{$category['name']}</p>
			    	<p class="am-text-default amtxt">截止日期：&nbsp;&nbsp;{$job['end_time']}</p>
			    	<p class="am-text-default amtxt">薪资待遇：&nbsp;&nbsp;<font color="red">{$config['payroll'][$job['payroll']]}</font></p>
			    	<p class="am-text-default amtxt">福利保障：&nbsp;&nbsp;
                        {if $is_has_welfare}
                            {loop $job['welfare'] $welfare}
                                <span class="am-badge am-badge-secondary">{$config['welfare'][$welfare]}</span>
                            {/loop}
                        {else}
                                <span class="am-badge am-badge-default">无</span>
                        {/if}
			    	</p>
			    	<p class="am-text-default amtxt">工作地点：&nbsp;&nbsp;{$job['workaddress']}</p>
			    	<p class="am-text-default amtxt">招聘人数：&nbsp;&nbsp;{$job['nums']}人</p>
			    	<p class="am-text-default amtxt">学历要求：&nbsp;&nbsp;{$config['educational'][$job['educational']]}</p>
			    	<p class="am-text-default amtxt">工作年限：&nbsp;&nbsp;{$config['workexperience'][$job['workexperience']]}</p>
			    	<hr style="margin: 5px 0">
			    	<h4 style="margin: 0"><strong>职位描述</strong></h4>
			    	<p>{$job['description']}</p>
			    	<hr style="margin: 5px 0">
					<h4 style="margin: 0">{$company['contact']}</h4>
	    			<p style="margin: 0">
	    				<font color="red">{$company['mobile']}</font>
	    				<a href="tel:{$company['mobile']}"><img class="am-circle" src="../addons/thinkidea_rencai/template/static/images/phone.jpg" width="38px" height="37px"></a>
	    			</p>
	    			<hr>
                    <div class="am-g">
                        <div class="am-u-sm-6">
                            {if $iscollect}
                            <button type="button" class="am-btn am-btn-default am-btn-block">已收藏</button>
                            {else}
                            <button type="button" class="am-btn am-btn-primary am-btn-block" id="collect">收藏职位</button>
                            {/if}
                        </div>
                        <div class="am-u-sm-6">
                            {if $isapply}
                            <button type="button" class="am-btn am-btn-default am-btn-block">已申请</button>
                            {else}
                            <button type="button" class="am-btn am-btn-primary am-btn-block" id="apply">申请职位</button>
                            {/if}
                        </div>
                    </div>
			    </div>
			    <!-- 公司信息 -->
			    <div class="am-tab-panel am-fade" id="tab2">
			    	<h4>
			    		<strong>{$company['name']}</strong>
						{if $company['isauth'] == 0}
							<span class="am-badge am-badge-default">未认证</span>
						{elseif $company['isauth'] == 1}
							<span class="am-badge am-badge-success">电话认证</span>
						{elseif $company['isauth'] == 2}
							<span class="am-badge am-badge-success">执照认证</span>	
						{elseif $company['isauth'] == -1}
							<span class="am-badge">认证失败</span>
						{/if}
					</h4>
			    	<p class="am-text-default amtxt">规模：&nbsp;&nbsp;{$config['companytype'][$company['type']]}</p>
			    	<p class="am-text-default amtxt">性质：&nbsp;&nbsp;{$config['scale'][$company['scale']]}</p>
			    	<p class="am-text-default amtxt">行业：&nbsp;&nbsp;{$industry['name']}</p>
			    	<p class="am-text-default amtxt">地址：&nbsp;&nbsp;{$company['address']}</p>
			    	<hr style="margin: 5px 0">
			    	<h4 style="margin: 5px 0"><strong>公司简介</strong></h4>
			    	<p>{$company['description']}</p>
			    </div>
			  </div>
			</div>
    	</div>

        <div class="am-u-sm-12"  style="margin-top:5px;background-color:#FFF">
            {loop $comments $comment}
            <article class="am-comment" style="margin-top:2px;background-color:#FFF"> <!-- 评论容器 -->
                <a href="">
                    <img class="am-comment-avatar" alt="" src="{$persons[$comment['mid']]['headimgurl']}"/> <!-- 评论者头像 -->
                </a>
                <div class="am-comment-main">
                    <header class="am-comment-hd">
                        <div class="am-comment-meta"> <!-- 评论元数据 -->
                            <a href="#link-to-user" class="am-comment-author">{$persons[$comment['mid']]['username']}</a> <!-- 评论者 -->
                            评论于 <time datetime="">{$comment['dateline']}</time>
                        </div>
                    </header>
                    <div class="am-comment-bd">
                        {$comment['content']}
                    </div> <!-- 评论内容 -->
                </div>
            </article>
            {/loop}
        </div>

        <div class="am-u-sm-12" style="margin-top:5px;background-color:#FFF">
            <form action="" class="am-form am-form-horizontal" method="POST" data-am-validator>
                <input type="hidden" name="mid" value="{$uid}">
                <input type="hidden" name="jobid" value="{$job_id}">
                <div class="am-form-group" style="margin-bottom:2px">
                        <textarea name="content" minlength="2" maxlength="500" placeholder="发表你的评论" rows="5" required></textarea>
                </div>
                <div class="am-form-group">
                    <input type="button" id="comments_button" value="我要评论" class="am-btn am-btn-block am-btn-warning"/>
                </div>
            </form>

        </div>
    </div>
    <script>
    //收藏
        $("#collect").click(function(data){
        	$.get(
        		'{php echo $this->createMobileUrl("CollectJobAjax", array("job_id" => $job_id, "company_id" => $company[id]))}',
        		{},
        		function (data){
        			if(data == '-3'){
						alert('你是企业用户，无法收藏');
					}
        			if(data == '-2'){
						alert('你还不是求职者，请先完善资料');
					}
					if(data == '-1'){
						alert('已经收藏');
					}        			
                    if(data == 1){
                        alert('收藏成功');
                    }
                    if(data == 0){
                        alert('收藏失败');
                    }
                    location.reload();
					return false;   
        		}
        	);
        });
        
    //申请职位
        $("#apply").click(function(data){
            $.get(
                    '{php echo $this->createMobileUrl("ApplyJobAjax", array("job_id" => $job_id, "company_id" => $company[id]))}',
                    {},
                    function (data){
            			if(data == '-3'){
    						alert('你是企业用户，无法申请');
    					}
            			if(data == '-2'){
    						alert('你还为成为求职者，请先完善资料');
    					}
    					if(data == '-1'){
    						alert('已经申请');
    					}        			
                        if(data == 1){
                            alert('申请成功');
                        }
                        if(data == 0){
                            alert('申请失败');
                        } 
						return false;   
                    }
                );            
        });

        //评论
        $("#comments_button").click(function(){
            $.ajax({
                type: "GET",
                dataType: 'html',
                url: '{php echo $this->createMobileUrl("CommentAjax");}',
                data: $("form").serialize(),
                success:function(data){
                    if(data == '1'){
                        alert('评论成功');
                    }
                    if(data == '-1'){
                        alert('评论失败');
                    }
                    if(data == '-2'){
                        alert('未注册成为求职者');
                    }
                    location.reload();
                },
                error: function(data){
                    alert('评论失败');
                    return false;
                }
            });
        });
    </script>
    {template 'common_footer'}