{template 'common/header'}

<ul class="nav nav-tabs">
    <li {if $op=='post' && empty($id)}class="active"{/if}><a href="{php echo $this->createWebUrl('goods', array('op' => 'post'));}">添加商品</a> </li>
    <li {if $op=='display'}class="active"{/if}><a href="{php echo $this->createWebUrl('goods',array('op'=>'display'));}">商品列表</a> </li>
    {if !empty($id) && $op == 'post'}
    <li class="active"> <a href="{php echo $this->createWebUrl('goods',array('op'=>'post','id'=>$id));}">编辑商品</a> </li>
    {/if}
</ul>
{if $op == 'display'}
<div class="panel panel-info">
    <div class="panel-heading">拍品信息列表</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form">
            <input type="hidden" name="a" value="entry"/>
            <input type="hidden" name="c" value="site"/>
            <input type="hidden" name="m" value="{AMOUSE_AUCTION}"/>
            <input type="hidden" name="do" value="goods"/>
            <div class="form-group">
                <label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">商品名称</label>
                <div class="col-sm-4">
                    <input class="form-control" name="keyword" type="text" value="{$_GPC['keyword']}" placeholder="搜索商品名称">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block"><i class="fa fa-search"></i> 搜索</button>
                </div>
            </div>
        </form>
    </div>
</div>

	<div class="panel panel-default">
		<div class="panel-heading">商品列表</div>
		<div class="panel-body">
			<div class="table-responsive panel-body">
				<table class="table table-hover" style="min-width: 300px;">
					<thead class="navbar-inner">
						<tr>
							<th class="col-sm-2">商品名称</th>
							<th class="col-sm-1">商品图片</th>
							<th class="col-sm-1">起拍价格</th>
							<th class="col-sm-1">加价幅度</th>
							<th class="col-sm-1">当前价格</th>
							<th class="col-sm-2">开始时间</th>
							<th class="col-sm-2">结束时间</th>
                            <th class="col-sm-1">状态</th>
							<th class="col-sm-2 text-right" style="width: 180px;" >状态</th>
						</tr>
					</thead>
					<tbody>
						{loop $goodses  $goods}
						<tr>
							<td>{$goods['title']}</td>
							<td><image src="{php echo tomedia($goods['au_pic']);}" style="max-width: 48px; max-height: 48px; border: 1px dotted gray"></td>
							<td>{$goods['upset_price']}元</td>
							<td>{$goods['raise_price']}元</td>
							<td>{if ($goods['transaction_value']==$goods['upset_price'])}<span class="label label-default">未出价</span>{else}{$goods['transaction_value']}元{/if}</td>
							<td>{php echo date('Y-m-d H:i', $goods['start_time']);}</td>
							<td>{php echo date('Y-m-d H:i', $goods['end_time']);}</td>
                            <td>{if $goods['status'] == 2}
                                    {if $goods['end_time']< time()}
                                        <a href="#" class="btn btn-default btn-sm" data-original-title="" title="">已结束</a>
                                    {else}
                                        {if $goods['start_time'] > time()}
                                        <a href="#" class="btn btn-warning btn-sm" data-original-title="" title="">待开始</a>
                                        {else}
                                            {if $goods['end_time'] < time()}
                                            <a href="#" class="btn btn-danger btn-sm" data-original-title="" title="">已流拍</a>
                                            {else}
                                            <a href="#" class="btn btn-success btn-sm" data-original-title="" title="">进行中</a>
                                            {/if}
                                        {/if}
                                    {/if}
                                {else}
                                    <a href="#" class="btn btn-danger btn-sm" data-original-title="" title="">已下架</a>
                                {/if}
                            </td>
							<td class="text-center">
                                <a href="{php echo $this->createWebUrl('goods', array('op'=>'post', 'id'=>$goods['id']));}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑"><i class="fa fa-pencil"></i></a>

								<a href="{php echo $this->createWebUrl('goods',array('op'=>'delete','id'=>$goods['id']));}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="删除"><i class="fa fa-times"></i></a>

                                <a href="{php echo $this->createWebUrl('offers', array('gid' => $goods['id']))}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-list"></i>出价记录</a>

							</td>
						</tr>
						{/loop}

					</tbody>
				</table>
				{$pager}
			</div>
		</div>
	</div>
</div>
{elseif $op == 'post'}
<style type="text/css">
    .red {float:left;color:red}
    .white{float:left;color:#fff}
    .tooltipbox {
        background:#fef8dd;border:1px solid #c40808; position:absolute; left:0;top:0; text-align:center;height:20px;
        color:#c40808;padding:2px 5px 1px 5px; border-radius:3px;z-index:1000;
    }
    .red { float:left;color:red}
</style>

<div class="main">
    <form action="" method="post" class="form-horizontal form" id="form">
        <div class="panel panel-default">
            <div class="panel-heading">拍卖商品</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">商品标题</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" name="title" class="form-control" value="{$goods['title']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">拍卖时间</label>
                    <div class="col-sm-4 col-xs-6">{php echo tpl_form_field_date('start_time', !empty($goods['start_time']) ? date('Y-m-d H:i',$goods['start_time']) : date('Y-m-d H:i'), 1)}</div>
                    <div class="col-sm-4 col-xs-6">{php echo tpl_form_field_date('end_time', date('Y-m-d H:i',$goods['end_time']), 1)}</div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">商品图片</label>
                    <div class="col-xs-12 col-sm-8">
                        {php echo tpl_form_field_image('au_pic', $goods['au_pic']);}
                        <span class="help-block">图片建议为180*180</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">起拍价格</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" name="upset_price" class="form-control" value="{$goods['upset_price']}" {if !empty($goods['start_time'])}{if time()>$goods['start_time']}readonly="readonly"{/if}{/if}>
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">加价幅度</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" name="raise_price" class="form-control" value="{$goods['raise_price']}" {if !empty($goods['start_time'])}{if time()>$goods['start_time']}readonly="readonly"{/if}{/if}>
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">一口价价格</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" name="now_price" class="form-control" value="{$goods['now_price']}" {if !empty($goods['start_time'])}{if time()>$goods['start_time']}readonly="readonly"{/if}{/if}>
                            <span class="input-group-addon">元</span>
                        </div>
                         <span class="help-block">
                             一口价，按照这个价格直接购买，成交竞拍商品
                         </span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">竞拍结束的前几分钟</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" name="delay_cycle_time" class="form-control" value="{$goods['delay_cycle_time']}" {if !empty($goods['start_time'])}{if time()>$goods['start_time']}readonly="readonly"{/if}{/if}>
                            <span class="input-group-addon">分钟</span>
                        </div>
                        <span class="help-block">
                                出价延时是指，当拍品的竞拍时间只剩最后{$goods['delay_cycle_time']}分钟时，如果有用户出价竞拍，那么系统将会自动延长拍品的竞拍时间。
                            如果为0 ，则不需要延时
                            </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">出价延时</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" name="delay_cycle" class="form-control" value="{$goods['delay_cycle']}" {if !empty($goods['start_time'])}{if time()>$goods['start_time']}readonly="readonly"{/if}{/if}>
                            <span class="input-group-addon">分钟</span>
                        </div>
                        <span class="help-block">
                                出价延时是指，当拍品的竞拍时间只剩最后{$goods['delay_cycle']}分钟时，如果有用户出价竞拍，那么系统将会自动延长拍品的竞拍时间。
                            如果为0 ，则不需要延时
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品详情</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_ueditor('content', $goods['content']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">状态</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="radio radio-inline">
                            <input type="radio" name="status" value="1" {if intval($goods['status']) != 2}checked="checked"{/if}> 下架
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" name="status" value="2" {if intval($goods['status']) == 2}checked="checked"{/if}> 上架
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                        <input type="hidden" name="id" value="{$goods['id']}" />
                        <input name="submit" type="submit" value="提交" class="btn btn-primary" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    require(['jquery', 'util'], function($, util){
        $(function(){
            $('#form').submit(function(){
                if($('input[name="title"]').val() == ''){
                    util.message('请填写拍品名称.');
                    return false;
                }
                if($('input[name="au_pic"]').val() == ''){
                    util.message('请上传拍品图片.');
                    return false;
                }
                var raise_price = parseFloat($('input[name="raise_price"]').val());
                if(isNaN(raise_price)){
                    util.message('请填写拍品默认加价价格.');
                    return false;
                }
                var upset_price = parseFloat($('input[name="upset_price"]').val());
                if(isNaN(upset_price)){
                    util.message('请填写商品起拍价格.');
                    return false;
                }
                return true;
            });
        });
    });
    require(['jquery', 'util'], function($, u){
        //u.editor($('#content')[0]);

    });
</script>

{/if}

{template 'common/footer'}