<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">排序</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="displayorder" value="{$item['displayorder']}">
		<span class="help-block">显示顺序，数字越大则越靠前</span>
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">配送方式</label>
	<div class="col-sm-8 col-xs-12">
		<select name="dispatch_id" class="form-control">
			<option value="0" {if $item['dispatch_id']==0}selected{/if}>全部</option>
			{loop $dispatch $dis}
			<option value="{$dis['id']}" {if $item['dispatch_id']==$dis['id']}selected{/if}>{$dis['title']}({$dis['fee']}元)</option>
			{/loop}
		</select>
		<!--<span class="help-block"></span>-->
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">是否上架</label>
	<div class="col-sm-6 col-md-8 col-xs-12">
		<div class="input-group">
			<label class="radio-inline">
				<input type="radio" name="isshow" value="1" {if $item['isshow']}checked{/if}> 是
			</label>
			<label class="radio-inline">
				<input type="radio" name="isshow" value="0" {if !$item['isshow']}checked{/if}> 否
			</label>
		</div>
		<span class="help-block">下架的商品前台不显示</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">是否在首页展示</label>
	<div class="col-sm-6 col-md-8 col-xs-12">
		<div class="input-group">
			<label class="radio-inline">
				<input type="radio" name="ishome" value="1" {if $item['ishome']}checked{/if}> 是
			</label>
			<label class="radio-inline">
				<input type="radio" name="ishome" value="0" {if !$item['ishome']}checked{/if}> 否
			</label>
		</div>
		<span class="help-block">设置在首页展示的商品</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">是否在个人中心推荐</label>
	<div class="col-sm-6 col-md-8 col-xs-12">
		<div class="input-group">
			<label class="radio-inline">
				<input type="radio" name="ishot" value="1" {if $item['ishot']}checked{/if}> 是
			</label>
			<label class="radio-inline">
				<input type="radio" name="ishot" value="0" {if !$item['ishot']}checked{/if}> 否
			</label>
		</div>
		<span class="help-block">设置在个人中心推荐商品中展示的商品</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">详细介绍</label>
	<div class="col-sm-6 col-md-8 col-xs-12">
		{php echo tpl_ueditor('description', $item['description'])}
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">每单最多购买数</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="order_buy_num" value="{$item['order_buy_num']}">
		<span class="help-block">用户每次订单可买该商品多少件</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">用户最多购买数</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="max_buy_num" value="{$item['max_buy_num']}">
		<span class="help-block">用户总计可买该商品多少件</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">减库存方式</label>
	<div class="col-sm-9 col-xs-12">
		{loop $minus_total $key $mt}
		<label class="radio-inline"><input type="radio" name="minus_total" value="{$key}" {if $item['minus_total']==$key}checked{/if}>{$mt}</label>
		{/loop}
		<span class="help-block">选择付款减库存时，提交订单页面将提示如下信息：订单创建后，请尽快支付，否则可能出现库存不足</span>
		<span class="help-block">选择拍下减库存时，由于提交订单未支付问题，请注意补充库存</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">销量</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="sales" value="{$item['sales']}">
		<span class="help-block">购买人数，谨慎修改，修改过后无法统计到真实购买人数</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">参与人数</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="joined_total" value="{$item['joined_total']}">
		<span class="help-block">参与活动的人数，谨慎修改，修改过后无法统计到真实参与人数（一口价类型此参数不需要设置）</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">浏览数</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="view_count" value="{$item['view_count']}">
		<span class="help-block">谨慎修改，修改过后无法统计到真实浏览量</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">分享数</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="share_count" value="{$item['share_count']}">
		<span class="help-block">谨慎修改，修改过后无法统计到真实分享数</span>
	</div>
</div>
<!--
<div class="form-group">
	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">评论数</label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" class="form-control" placeholder="" name="comment_count" value="{$item['comment_count']}">
		<span class="help-block">商品名称</span>
	</div>
</div>-->
