{template 'common/header'}
<div class="main">
	<form class="form-horizontal form" id="setting_form" action="" method="post" enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-heading">
				基本参数
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">微信模式</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<div class="input-group">
							<label class="radio-inline">
								<input type="radio" name="base[wechat]" value="1" {if $this->module['config']['base']['wechat']}checked{/if}> 开启
							</label>
							<label class="radio-inline">
								<input type="radio" name="base[wechat]" value="0" {if !$this->module['config']['base']['wechat']}checked{/if}> 关闭
							</label>
						</div>
						<span class="help-block">开启微信模式后，积分商城将只能在微信中打开，避免使用浏览器打开浏览</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">调试模式</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<div class="input-group">
							<label class="radio-inline">
								<input type="radio" name="base[debug]" value="1" {if $this->module['config']['base']['debug']}checked{/if}> 开启
							</label>
							<label class="radio-inline">
								<input type="radio" name="base[debug]" value="0" {if !$this->module['config']['base']['debug']}checked{/if}> 关闭
							</label>
						</div>
						<span class="help-block">开启调试模式后，前台手机端将无法使用积分商城功能，将提示自定义信息，可设置调试账号UID，调试账号访问将不受限制</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">提示信息</label>
					<div class="col-sm-9">
						<textarea class="form-control" name="base[debug_message]">{php echo $this->module['config']['base']['debug_message']}</textarea>
						<span class="help-block">模块未开启时，前台手机端访问提示信息</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">调试账号UID</label>
					<div class="col-sm-9">
						<textarea class="form-control" name="base[debug_uids]">{if $this->module['config']['base']['debug_uids']}{php echo implode(',', $this->module['config']['base']['debug_uids'])}{/if}</textarea>
						<span class="help-block">多个账号UID之间使用英文半角逗号分隔"," <a href="{php echo url('mc/member')}" target="_blank">查找账号UID</a></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">积分排行榜</label>
					<div class="col-sm-9">
						<select class="form-control" name="base[creditrank_type][]" multiple>
							{loop $credits $key $item}
							{if $item['enabled']}
							<option value="{$key}" {if $this->module['config']['base']['creditrank_type'] && in_array($key, $this->module['config']['base']['creditrank_type'])}selected{/if}>{$item['title']}({$key})</option>
							{/if}
							{/loop}
						</select>
						<span class="help-block">设置积分排行榜积分类型，可多选，默认为：credit1类型</span>
						<span class="help-block">选择多个积分类型时，积分排行榜右上角将出现 "积分类型" 选项，可选择不同积分查看排行榜</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">积分排行榜展示名数</label>
					<div class="col-sm-9">
						<input type="number" min="1" class="form-control" name="base[rank_num]" value="{php echo $this->module['config']['base']['rank_num']}">
						<span class="help-block">前台积分排行榜展示人数，为空时默认展示10名</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">开启微信右上角菜单</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<div class="input-group">
							<label class="radio-inline">
								<input type="radio" name="base[weixin_menu]" value="1" {if $this->module['config']['base']['weixin_menu']}checked{/if}> 开启
							</label>
							<label class="radio-inline">
								<input type="radio" name="base[weixin_menu]" value="0" {if !$this->module['config']['base']['weixin_menu']}checked{/if}> 关闭
							</label>
						</div>
						<span class="help-block">开启后进入积分商城页面时，微信右上角菜单包含分享、复制链接等操作，关闭后将不显示相关操作按钮</span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				模板消息参数
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单提交消息ID</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="template_message[order_submit_id]" value="{php echo $this->module['config']['template_message']['order_submit_id']}">
						<span class="help-block">登录公众号后台=》模板库搜索“订单提交成功通知”，编号“OPENTM201994376”，行业“IT科技 - IT软件与服务”</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单提交消息</label>
					<div class="col-sm-9">
						<textarea rows="5" class="form-control" name="template_message[order_submit_content]">{php echo $this->module['config']['template_message']['order_submit_content']}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单支付消息ID</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="template_message[order_pay_id]" value="{php echo $this->module['config']['template_message']['order_pay_id']}">
						<span class="help-block">登录公众号后台=》模板库搜索“订单支付成功通知”，编号“OPENTM201490080”，行业“IT科技 - IT软件与服务”</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单支付消息</label>
					<div class="col-sm-9">
						<textarea rows="5" class="form-control" name="template_message[order_pay_content]">{php echo $this->module['config']['template_message']['order_pay_content']}</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				微信支付参数
			</div>
			<div class="panel-body">
				<div class="alert alert-warning">
					请先下载微信支付API证书，下载证书之后按照对应的文件名上传即可，<a target="_blank" href="{SUPERMAN_CREDITMALL_MANUAL}">如何下载证书请查看文档常见问题</a>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">微信公众号APPID</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="text" class="form-control" name="wxpay[mch_appid]" value="{php echo $this->module['config']['wxpay']['mch_appid']}" />
						<span class="help-block">微信公众号appid参数（默认加载第一个子公众号的数据，如有多个子公众号，请手动修改）</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">微信支付商户号</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="text" class="form-control" name="wxpay[mchid]" value="{php echo $this->module['config']['wxpay']['mchid']}" />
						<span class="help-block">开通微信支付时，由微信支付系统提供的商户号</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">微信支付证书</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="file" name="wxpay[apiclient_cert]" value="{php echo $this->module['config']['wxpay']['apiclient_cert']}">
						<span class="help-block">证书下载解压后，默认文件名为：apiclient_cert.pem</span>
						<span class="help-block">
							{if $this->module['config']['wxpay']['apiclient_cert']!=''}
							<a href="{php echo tomedia($this->module['config']['wxpay']['apiclient_cert'])}" target="_blank">点击下载</a><br/>
							<label class="checkbox-inline">
								<input type="checkbox" name="wxpay[del_apiclient_cert]"> <span style="color: #f00">删除</span>
							</label>
							{/if}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">微信支付证书密钥</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="file" name="wxpay[apiclient_key]" value="{php echo $this->module['config']['wxpay']['apiclient_key']}">
						<span class="help-block">证书下载解压后，默认文件名为：apiclient_key.pem</span>
						<span class="help-block">
							{if $this->module['config']['wxpay']['apiclient_key']!=''}
							<a href="{php echo tomedia($this->module['config']['wxpay']['apiclient_key'])}" target="_blank">点击下载</a><br/>
							<label class="checkbox-inline">
								<input type="checkbox" name="wxpay[del_apiclient_key]"> <span style="color: #f00">删除</span>
							</label>
							{/if}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">微信支付CA证书</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="file" name="wxpay[rootca]" value="{php echo $this->module['config']['wxpay']['rootca']}">
						<span class="help-block">证书下载解压后，默认文件名为：rootca.pem</span>
						<span class="help-block">
							{if $this->module['config']['wxpay']['rootca']!=''}
							<a href="{php echo tomedia($this->module['config']['wxpay']['rootca'])}" target="_blank">点击下载</a><br/>
							<label class="checkbox-inline">
								<input type="checkbox" name="wxpay[del_rootca]"> <span style="color: #f00">删除</span>
							</label>
							{/if}
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				分享参数
			</div>
			<div class="panel-body">
				<div class="alert alert-danger">
					已认证公众号可以设置以下分享参数，否则没有权限调用分享接口，或者可以借用其它公众号权限
					<a href="{php echo url('profile/jsauth')}" target="_blank">去借一下</a>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="text" class="form-control" name="share[title]" value="{php echo $this->module['config']['share']['title']}" />
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享图片</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						{php echo tpl_form_field_image('share[imgurl]', $this->module['config']['share']['imgurl'])}
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享内容</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<textarea name="share[desc]" class="form-control">{php echo $this->module['config']['share']['desc']}</textarea>
						<span class="help-block"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				红包设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">常见问题</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						{php echo tpl_ueditor('redpack[help]', $this->module['config']['redpack']['help'])}
						<span class="help-block">红包页右上角展示的常见问题</span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				积分使用帮助
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">预览</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<a href="javascript:;" onclick="preview_help();return false;" class="btn btn-default">预览</a>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">积分说明</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						{php echo tpl_ueditor('help[base]', $this->module['config']['help']['base'])}
						<span class="help-block">不填写，前台将不展示内容（包括顶部标签）</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">如何使用</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						{php echo tpl_ueditor('help[use]', $this->module['config']['help']['use'])}
						<span class="help-block">不填写，前台将不展示内容（包括顶部标签）</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">如何获得</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						{php echo tpl_ueditor('help[get]', $this->module['config']['help']['get'])}
						<span class="help-block">不填写，前台将不展示内容（包括顶部标签）</span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				客服中心
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">详细内容</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						{php echo tpl_ueditor('service[content]', $this->module['config']['service']['content'])}
						<span class="help-block">查看方式：个人中心=》我的订单=》客服</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input name="token" type="hidden" value="{$_W['token']}" />
			<input type="submit" class="btn btn-primary" name="submit" value="提交" />
			<input type="submit" onclick="return confirm('恢复默认设置后，将覆盖当前已设置参数，确认吗？'); return false;" class="btn btn-danger" name="reset_submit" value="重置参数为默认设置" style="margin-left: 50px;"/>
		</div>
	</form>
</div>
<script type="text/javascript">
	require(['jquery', 'util', 'filestyle'], function($){
		$(".form-group").find(':file').filestyle({buttonText: '上传文件'});
		$('#setting_form').submit(function(){
			var creditrank_type = $('select[name="base[creditrank_type][]"]');
			if (!creditrank_type.val()) {
				util.message('请选择积分排行榜积分类型');
				return false;
			}
			return true;
		});
	});
</script>
<script type="text/javascript">
	function preview_help() {
		var url = '{$_W["siteroot"]}app/{php echo $this->createMobileUrl("profile", array("act" => "help"))}';
		var content = '<iframe width="320" scrolling="yes" height="480" frameborder="0" src="about:blank"></iframe>';
		var footer = '<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
		var dialog = util.dialog('预览使用帮助', content, footer);
		dialog.find('iframe').attr('src', url);
		dialog.find('.modal-dialog').css({'width': '322px'});
		dialog.find('.modal-body').css({'padding': '0', 'height': '480px'});
		dialog.modal('show');
	}
</script>
{template 'common/footer'}