/*诚信认证-手机认证*/
.honest{font-size: 0.9em}
.honest>.test_phone{ line-height:22px; color:#555;}
.honest>.test_box{ margin:0;}
.honest>.test_box>li{ margin:10px 0; height:38px; line-height:38px; background: #fff; overflow: hidden;}
.honest>.test_box>li>input{ width:100%; height:22px;  margin:8px 8px 0; border:0; background:#fff; color:#999;}
.honest>.test_box>li>input.input_out, .honest_02>.test_box>li>input.input_out{ color:#555;;}
.honest>.test_box>li>input.post{ width:60%; float:left;}
.honest>.test_box>li>span.get_btn{ width:36%; float:left; margin:0 0 0 4%; background:#74B9C8; color:#fff; text-align:center;font-size:.8em;}
.honest_03>.repair_success{ background:#fff; padding:14px 10px; line-height:24px; font-size:.9em; color:#555;}
.honest_03>.repair_success .skip_btn{ text-decoration:underline;}
.honest>.test_box>li>span.bgray{background-color: #ccc}
.honest .bottom{ line-height: 22px;}
.honest .bottom dt{ color: #555;}
.honest .top{margin: 0 0 10px;line-height: 22px;}
input{font-size: 14px}

.honest_05 .top{margin: 0 0 10px;line-height: 22px;color: #555;}
.honest_05 .test_box{font-size: 0.9em}
.honest_05 .test_box li:first-child{background-color: #fff;color: #555;margin-bottom: 1px;line-height:38px;height:38px;padding: 0 0 0 10px;}
.honest_05 .test_box li p{background-color: #fff;line-height:38px;height:38px;padding: 0 0 0 10px;}

.checkInfor{margin-top:20px;width:100%;overflow:hidden;background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px; box-shadow:0 0 5px rgba(245,245,245,.2);padding-bottom:10px;}