/*举报*/
.report{ padding:10px 0 0; margin:0 auto;max-width: 480px}
.report>.title, .likely>.title{ height:38px; line-height:38px; background:#fff; padding:0 0 0 10px; color:#555;}
.report>.mate_List{ font-size:.9em;}
.report>.article{ line-height:24px; background:#fff; padding:12px;}
.report>.article>dt{ color:#555;}
.report>.article>dd{ font-size:.9em;}
.report>.report_btn{ display:block; margin:1px 0 0; height:44px; line-height:44px; text-align:center; background:#fff;}
.report>.reply{ padding:10px; background:#fff; line-height:24px; font-size:.9em; height:auto;}