@charset "utf-8";
/* CSS Document */
/*双列 列表全局控制*/
a{display: block;}
.List_top {height: 38px;line-height: 38px;background: #fff;margin: 10px 0 0;padding: 0 0 0 10px;color: #555;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing:border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;}
.List li{ border-top:1px solid #EDEDED;height: 38px;line-height: 38px;position: relative; width:100%;}
.List li a{ display:inline-block; float:left;background:#fff ;width:50%; height:38px; line-height:38px; margin:0; text-align:center;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing:border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;}
.List li a:first-child{border-right:1px solid #EDEDED;}
.List li a:last-child{border-right:1px solid #fff;}

.safety_center{ margin:62px auto; font-size:12px;max-width: 480px}
.safety_center .set_Box{ margin:0 10px; box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
.safety_center .List{overflow: hidden;}
.safety_center  .List_top{ font-size:14px;height: 38px;line-height: 38px;background: #fff;margin: 10px 0 0;padding: 0 0 0 10px;color: #555;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing:border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;}
.safety_center .List li a{ color:#52AAC0;}
.safety_center .List_colone li a{ width:100%; border:0;}

/*安全中心处罚方式01*/
.safety_center_2 .List_top{ border-bottom:1px solid #EDEDED;height: 38px;line-height: 38px;background: #fff;margin: 10px 0 0;padding: 0 0 0 10px;color: #555;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing:border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;}
.safety_center_2 .mate_Detial ,.safety_center_3 .mate_Detial{ background:#fff; padding:12px; line-height:18px; color:#666;}
.safety_center_2 .mate_Detial .Detial{ margin:10px 0 0; line-height:22px;}

/*安全中心-警惕诈骗*/
.safety_center_3 .set_Box .List_colone>li>a{ width:100%; text-align:left;padding:0 0 0 10px; color:#52aac0; background:#fff;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing:border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box; height:38px; line-height:38px;}
.safety_center_3 .mate_Detial{ border-top:1px solid #ededed;}

.safety_center .see_more{ margin:10px;}


/*设置中心-免扰设置*/
.Set_center .no_affect{ overflow:hidden;}
.Set_center .no_affect>li{ height:46px; line-height:46px; padding:0 10px; border-bottom:1px solid #f0f0f0; background:#fff; color:#555; position:relative;}
.Set_center .no_affect>li .on_off,
.Set_center .no_affect>li .on_off_true{ position:absolute; right:10px; top:12px; width:40px; height:22px; line-height:22px; background:#E5E5E5; border-radius:20px;}
.Set_center .no_affect>li .on_off_true{ background:#F2769A;}
.Set_center .no_affect>li .on_off>span,
.Set_center .no_affect>li .on_off_true>span{ display:block; width:20px; height:20px; background:#fff; border-radius:20px; position:absolute; left:1px; top:1px;}
.Set_center .no_affect>li .on_off_true>span{ position:absolute; left:19px; top:1px;}
.Set_center .bottom{ line-height:22px; font-size:14px; padding:10px 0 0;}
.safety_center .see_more{ margin:10px;}