
<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{MON_MAGAZINE_RES}weixin/resources/v2.1/style/style.css">
    <link rel="stylesheet" type="text/css" href="{MON_MAGAZINE_RES}weixin/resources/v2.1/style/yb.css"></head>

<body class="bg1">
<style>

    .byshou {
        width: 320px;
        height: 504px;
        margin: 0 auto;
        position: relative;
        background: url({php echo MonUtil::defaultImg(MonUtil::$IMG_COVER_IMG,$mag)}) no-repeat 0 0;
        background-size: 320px 504px;
    }
</style>
<div class="byshou">
    <p></p>
    <a href="#" class="jt2"></a>
</div>
</body>
</html>