<style>
.item{
		padding: 10px;
		border: 1px solid gainsboro;
		margin: 5px;
		width: 330px;
		float: left;
		position: relative;
		text-align: center;
	}
	
	.item img{
		width: 100%;
	}
	
	.item input{
		margin-top: 10px;
		display: inline;
	}
	
	.item input[type=text]{
		width: 65%;
	}
	
	.item input[type=number]{
		width: 30%;
		margin-right: 2%;
	}

	.item span{
		position: absolute;
		right: 0;
		font-size: 25px;
		color: red;
	}

	.item span:hover{
		font-size: 30px;
		border: 1px solid gainsboro;
		border-radius: 5px;
		background: black;
		cursor: pointer;
	}

	.img_group p{
		text-align: center;
	}
</style>

				<span id="selectimage1" class="btn btn-primary"><i class="icon-plus"></i> 上传图片</span>
					<div class="input-group" style="display: inline-table;width: 220px;vertical-align: middle;">
						 <span class="input-group-addon">幻灯片高度</span>
                        <input class="form-control" type="number" maxlength="3" min="0"  name="slideH" value="{if $slideH}{$slideH}{else}110{/if}">
                        <span class="input-group-addon">像素</span>
                    </div>
				<div id="listimage1" style="margin-top: 10px;">
				{loop $slider $p}
					<div class="item">
						<span onclick="$(this).parent().remove()" class="glyphicon glyphicon-remove-circle"></span>
						<img src="{php echo toimage($p['picurl'])}">
						<input name="picurl[]" value="{$p['picurl']}" type="hidden">
						<input placeholder="排序" class="form-control" name="displayorder[]" type="number"  min="0" value="{$p['displayorder']}">
						<input placeholder="链接地址" class="form-control" name="link[]" type="text" value="{$p['link']}">
					</div>
				{/loop}
				</div>
<script type="text/javascript">

	require(['jquery', 'util'], function($, util){

		$(function(){

			// 对象绑定点击事件

			$('#selectimage1').click(function(){

				util.uploadMultiPictures(function(list){

					// your code here

					for(var i=0; i<list.length; i++){

						var s = '<div class="item"><span onclick="$(this).parent().remove()" class="glyphicon glyphicon-remove-circle"></span>';

						s += '<img src="'+list[i]['url']+'">';

						s += '<input name="picurl[]" type="hidden" value="'+list[i]['filename']+'">';

						s += '<input placeholder="排序" class="form-control" name="displayorder[]" type="number" min="0" value="0">';

						s += '<input placeholder="跳转链接" class="form-control" name="link[]" type="text"></div>';

						$('#listimage1').append(s);

					}

				});

			});

		});

	});
</script>