<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>呼叫商家-订单管理</title>
    <link rel="stylesheet" href="/addons/qw_hjsj/assets/css/weui.css"/>
    <link rel="stylesheet" href="/addons/qw_hjsj/assets/css/jquery-weui.css"/>
    <link rel="stylesheet" href="/addons/qw_hjsj/assets/css/example.css"/>
    <link rel="stylesheet" href="/addons/qw_hjsj/assets/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/addons/qw_hjsj/assets/css/star-rating-svg.css">
    <link rel="shortcut icon" href="/images/global/wechat.jpg" />
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>
<body ontouchstart>
<style>
    body { background-color: white;color:#323232;background-image: none;}
</style>
<div class="container">

<div class="padding-bottom">
    {loop $orderlist $index $item}
    <div class="weui_panel_bd">
        <a href="tel://{$item['phone']}" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="{$item['avatar']}" alt="">
            </div>
            <div class="weui_media_bd">
                <p class="weui_media_desc">联系人：{$item['truename']}</p>
                <p class="weui_media_desc">手机号：{$item['phone']}</p>
                <p class="weui_media_desc">时间：{php echo date('Y-m-d H:i:s',$item['addtime'])}</p>
                <p class="weui_media_desc">收货地址：{$item['gpsaddress']}</p>
            </div>
        </a>
    </div>
    <div class="padding-10 border-top-bottom" style="line-height: 3.5;">

        <!--<span class="pull-left paiing">{if $item['status']==1}正在派送中{elseif $item['status']==3}<a href="javascript:;" class="weui_btn weui_btn_primary open-popup" data-target="#detail" style="margin-top:10px;">订单详情</a> {/if}</span>
        <span class="pull-right">
            <a href="{if $item['status']==1}{php echo $this->createMobileurl('p_pay',array('idd'=>$item['id'],'sid'=>$item['sid']))}{elseif $item['status']==3}javascript:;{/if}" class="weui_btn weui_btn_mini weui_btn_warn">收款</a>
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default cancelhj">取消订单</a><p class="hjid" style="display: none;">{$item['id']}</p>-->
        <span class="pull-left paiing">{if $item['status']==1}正在派送中{elseif $item['status']==3}<a href="javascript:;" class="open-popup detaildingdan" data-target="#detail">订单详情</a> {/if}</span>
        <span class="pull-right qqxx">
            {if $item['status']==1}
            <a href="{php echo $this->createMobileurl('p_pay',array('idd'=>$item['id'],'sid'=>$item['sid']))}" class="weui_btn weui_btn_mini weui_btn_warn" style="background-color: #78D8FF;">收款</a>
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default cancelhj">取消订单</a>

            {elseif $item['status']==2}
            已取消
            {elseif $item['status']==3}
            已经完成
            {else}
呼叫中
            {/if}
            <p class="hjid" style="display: none;">{$item['id']}</p>
        </span>
        <div class="clearFix"></div>
    </div>
    {/loop}
</div>
</div>
<div id="detail" class="weui-popup-container">
    <div class="weui-popup-modal">

        <article class="weui_article">
            <h1 class="text-center">订单详情</h1>
            <section class="margin-50">


                <div class="contact">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>联系人</p>
                        </div>
                        <div class="weui_cell_ft succname"></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>手机号</p>
                        </div>
                        <div class="weui_cell_ft succphone"><a href="tel://{hxq['phone']}"></a> </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>收货地址</p>
                        </div>
                        <div class="weui_cell_ft succaddress"></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>订单号</p>
                        </div>
                        <div class="weui_cell_ft dingdanhao"></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>支付方式</p>
                        </div>
                        <div class="weui_cell_ft zhifutype"></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>支付金额</p>
                        </div>
                        <div class="weui_cell_ft money"></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>用户评价</p>
                        </div>
                        <div class="weui_cell_ft pjstar"></div>
                    </div>
                </div>
            </section>


                <section class="margin-50">
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary close-popup">关闭</a>
                </section>
        </article>
    </div>
</div>
<div class="weui_tabbar">
    <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
        <div class="weui_tabbar_icon">
            <img src="/addons/qw_hjsj/assets/img/icon_order_active.png" alt="">
        </div>
        <p class="weui_tabbar_label">订单管理</p>
    </a>
    <a href="/app/index.php?i=20&c=entry&do=m_record&m=qw_hjsj" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="/addons/qw_hjsj/assets/img/icon_record.png" alt="">
        </div>
        <p class="weui_tabbar_label">流水记录</p>
    </a>
    <a href="/app/index.php?i=20&c=entry&do=m_wallet&m=qw_hjsj" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="/addons/qw_hjsj/assets/img/icon_wallet.png" alt="">
        </div>
        <p class="weui_tabbar_label">我的钱包</p>
    </a>
</div>
<script src="/addons/qw_hjsj/assets/js/jquery-2.1.4.js"></script>
<script src="/addons/qw_hjsj/assets/js/jquery.star-rating-svg.js"></script>

<script src="/addons/qw_hjsj/assets/js/jquery-weui.js"></script>
<script src="/addons/qw_hjsj/assets/layer/layer.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6mLUAH03gAY3BakwXgn9Mryy"></script>
</body>
</html>

{php echo register_jssdk(false);}

<script>

    $(document).ready(function(){

        $(".cancelhj").each(function(){

            $(this).click(function(){

              var ttt = $(this).parent();

              var hjid = ttt.find(".hjid").text();


               var qxstatus="{$item['status']}";
                var quxiao =0;
                var Url = "{php echo $this->createMobileurl('m_center')}";
                $.confirm("是否取消该订单?","温馨提示",function(){


                                $.confirm("取消:不生成新订单,确定:生成新的订单","是否生成新订单?",function(){

                                                            quxiao=2;

                                                            $.post(Url,{idd:hjid,qxstatus:qxstatus,quxiao:quxiao},function(data){


                                                                var data = $.parseJSON(data);

                                                                if(data.error==1){

                                                                    // $.alert(data.message);
                                                                    ttt.text("已取消");

                                                                    // location.reload();
                                                                }else{

                                                                    $.alert(data.message);
                                                                }
                                                                return true;

                                                            });


                                        },function(){

                                                            quxiao=1;

                                                            $.post(Url,{idd:hjid,qxstatus:qxstatus,quxiao:quxiao},function(data){


                                                                var data = $.parseJSON(data);

                                                                if(data.error==1){

                                                                    ttt.text("已取消");

                                                                }else{

                                                                    $.alert(data.message);
                                                                }

                                                            });


                                        });


                       },

                        function(){


                });





            })

        })

        //获取订单详情

        $(".detaildingdan").each(function(){

            $(this).click(function(){
                    var ttt= $(this);

                    var idd=ttt.parent().parent().find(".hjid").text();
                var Url = "{php echo $this->createMobileurl('m_center')}";
                $.post(Url,{idd:idd},function(data){


                    var data = $.parseJSON(data);
                    if(data.error==1){

                       // alert(data.message);
                        $(".succname").text(data.result.truename);
                        $(".succaddress").text(data.result.gpsaddress);
                        $(".succphone").text(data.result.phone);
                        $(".succphone").attr('href','tel://'+data.result.phone);
                        $(".dingdanhao").text(data.result.ordersn);
                        var paytype = data.result.paytype;
                        if(paytype==2){

                            var zhifu = "微信支付";
                        }else if(paytype==5){

                            var zhifu = "现金支付";
                        }else{


                        }
                        $(".zhifutype").text(zhifu);
                        $(".money").text(data.result.money);
                        $(".pjstar").text(data.result.pjstar + "星");


                    }else{

                        alert(data.message);
                    }

                })
            })



        })
    })
</script>