
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的朋友圈</title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" href="../addons/joza_pyqad/images/index.css">

<script src="http://g.alicdn.com/sj/lib/jquery.min.js" type="text/javascript"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<style type="text/css">
    * {cursor: pointer;}
.weui_mask_transition {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .3s;
    transition: background .3s;
}
.weui_fade_toggle {
    background: rgba(0, 0, 0, 0.6);
}
.weui_actionsheet {
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    width: 100%;
    background-color: #EFEFF4;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}
.weui_actionsheet_toggle {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.weui_actionsheet_menu {
    background-color: #FFFFFF;
}
.weui_actionsheet_cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui_actionsheet_cell:first-child:before {
    display: none;
}
.weui_actionsheet_cell {
    position: relative;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}
.weui_actionsheet_cell.title {
    color: #999;
}
.weui_actionsheet_action {
    margin-top: 6px;
    background-color: #FFFFFF;
}
</style>
</head>
<body>
<div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="mask" style="display: none;">
    </div>
    <div class="weui_actionsheet" id="weui_actionsheet">
        <div class="weui_actionsheet_menu">
            <div class="weui_actionsheet_cell title">
                👇选择进入你的朋友圈
            </div>
            <div class="weui_actionsheet_cell play_pyq" data-scene="1">
                男版朋友圈
            </div>
            <div class="weui_actionsheet_cell play_pyq" data-scene="2">
                女版朋友圈
            </div>
        </div>
        <div class="weui_actionsheet_action">
            <div class="weui_actionsheet_cell actionsheet_cancel">
                取消
            </div>
        </div>
    </div>
</div>
<!--  -->
<div id="actionSheet_wrap_child">
    <div class="weui_mask_transition" id="mask_child" style="display: none;">
    </div>
    <div class="weui_actionsheet" id="weui_actionsheet_child">
        <div class="weui_actionsheet_menu">
            <div class="weui_actionsheet_cell title">
                👇选择你想要的版本
            </div>
            <div class="weui_actionsheet_cell play_type" data-type="a">
                明星朋友圈A
            </div>
            <div class="weui_actionsheet_cell play_type" data-type="b">
                明星朋友圈B
            </div>
            <div class="weui_actionsheet_cell play_type" data-type="c">
                明星朋友圈C
            </div>
            <div class="weui_actionsheet_cell play_type" data-type="d">
                西游朋友圈
            </div>
            <div class="weui_actionsheet_cell play_type" data-type="e">
                水浒朋友圈
            </div>
        </div>
        <div class="weui_actionsheet_action">
            <div class="weui_actionsheet_cell actionsheet_cancel">
                取消
            </div>
        </div>
    </div>
</div>
<!--/ -->
<div style="margin:0 auto;display:none;">
    <img class="data-avt" src="">
</div>


<header>
<img id="bg" src="../addons/joza_pyqad/images/1b/bg2.jpg">
<p id="user-name" class="data-name">
</p>
<img id="avt" class="data-avt" src="">
</header>
<div id="main">
    <div id="list">
        <!--替换content-->
    </div>
    <div id="share">
        <p>
            （此朋友圈纯属虚构）
        </p>
        <div style="padding:15px;padding-bottom:20px">
            <button id="gotoplay" onclick="showActionSheet();" class="btn btn-success btn-lg btn-block">我也要玩</button>
            <br>
        </div>
    </div>
    <style type="text/css">
        #abbox {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
#abbox a.ab_btn {
    background: none;
    width: 100%;
}
#abbox a.ab_btn img {
    width: 100%;
    border: 1px solid #efefef;
}
#abbox p {
    color: #999999;
    text-align: center;
    font-size: 18px; 
    border-bottom: 1px dashed #999999;
    margin-bottom: 20px;
}
        .adlabel1 {
            background: #787878;
            color: #FFF;
            padding:3px 5px;
            padding-left: 21px;
            margin-right: 1px;
            float:right;
            font-size: 14px; 
        }
        .adlabel1 img {
            width: 14px;
            height: 14px;
            margin-left: -15px;
            position: absolute;
        }
        .adlabel2 {
            background: #2b61c1;
            color: #FFF;
            padding:3px 5px;
            float:right;
            font-size: 14px; 
        }
    </style>
    {if !empty($reply['ad_banner'])}
    <div id="abbox">
        <span class="adlabel2">赞助商广告</span>
        <a class="ab_btn" href="{$reply['ad_url']}"><img class="noplayimg" src="{$_W['attachurl']}{$reply['ad_banner']}"></a>
    </div>
    {/if}
   
    <div id="noguide" class="hide">
    </div>
</div>
<script id="scene" type="text/template">
      <ul>
         <li>
                <div class="po-avt-wrap">
                    <img class="po-avt data-avt" src="">
                </div>
                <div class="po-cmt">
                    <div class="po-hd">
                        <p class="po-name"><span class="data-name"></span></span></p>
                        <div class="post">
                            <p>我真心把你们当朋友，而你们呢？呵呵<br><br><br><br>一个个全都把我当偶像！</p>
                            <p>
                                <img class="data-avt" src="">
                            </p>
                        </div>
                        <p class="time">刚刚</p><img class="c-icon" src="../addons/joza_pyqad/images/1b/pl_icon.png">
                    </div>
                    <div class="r"></div>
                    <div class="cmt-wrap">
                        <div class="like"><img src="../addons/joza_pyqad/images/like_icon.png">高圆圆，都敏俊，鹿晗，郑凯，李晨，王祖蓝，…</div>
                        <div class="cmt-list">
                        <p><span>迪丽热马-Dilraba：</span>😍偶像～</p>
                        <p><span>鹿晗：</span>男神💘～</p>
                        <p><span>权志龙：</span>아이돌～</p>
                        <p><span class="data-name"></span>回复<span>鹿晗：</span>别！我真的只是把你当朋友！</p>
                        </div>
                    </div>
                </div>
            </li>
    <li>
        <div class="po-avt-wrap">
            <img class="po-avt" src="../addons/joza_pyqad/images/1b/bingbing.jpg">
        </div>
        <div class="po-cmt">
            <div class="po-hd">
                <p class="po-name">范冰冰</p>
                <div class="post">
                    <p>刚才看到一个身影很像你，我疯了似的追上去，才想起这个城市没有你，不由自主流下泪来，我想你了~ @<span class="data-name"></span></p>
                    <img class="list-img" src="../addons/joza_pyqad/images/1b/bing1.jpg">
                    <img class="list-img data-avt" src="">
                </div>
                <p class="time">1分钟前</p>
                <img class="c-icon" src="../addons/joza_pyqad/images/1b/pl_icon.png">
            </div>
            <div class="r"></div>
            <div class="cmt-wrap">
                <div class="like"><img src="../addons/joza_pyqad/images/like_icon.png"> 杨幂，angelbaby，李易峰，边伯贤，柳岩 </div>
                <div class="cmt-list">
                    <p><span>柳岩：</span>求求你，不要跟我抢<span class="data-name"></span>好吗？</p>
                    <p><span class="data-name"></span><span>：</span>呃，冰冰姐你这样黑牛会杀了我</p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="po-avt-wrap">
            <img class="po-avt" src="../addons/joza_pyqad/images/1b/cjk.jpg">
        </div>
        <div class="po-cmt">
            <div class="po-hd">
                <p class="po-name">苍井空</p>
                <p class="post">还是好困~</p>
                    <img src="../addons/joza_pyqad/images/1b/cjk2.jpg">
                    </div>
                <p class="time">2分钟前</p>
                <img class="c-icon" src="../addons/joza_pyqad/images/1b/pl_icon.png" <="" div="">
                <div class="r"></div>
                <div class="cmt-wrap">
                    <div class="like"><img src="../addons/joza_pyqad/images/like_icon.png">大鹏，王俊凯，陈冠希，昆凌，张杰，李易峰</div>
                    <div class="cmt-list">
                        <p><span>陈冠希：</span>怪我咯~</p>
                        <p><span class="data-name"></span><span>：</span>怪我咯~</p>
                        <p><span>大鹏：</span>怪我咯~</p>                        
                        <p><span>李易峰：</span>怪我咯~</p>                        
                        <p><span>苍井空</span>回复<span class="data-name"></span><span>：</span>知道就好！</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="po-avt-wrap">
            <img class="po-avt" src="../addons/joza_pyqad/images/1b/liu.jpeg">
        </div>
        <div class="po-cmt">
            <div class="po-hd">
                <p class="po-name">刘嘉玲</p>
                <div class="post">
                    <p>电影《澳门风云3》首映，好久不见了各位大爷！强烈鄙视一个不愿露面的 @<b class="data-name"></b></p>
                    <img class="list-img" src="../addons/joza_pyqad/images/1b/liu1.jpg" style="height: 80px;">
                    <img class="list-img" src="../addons/joza_pyqad/images/1b/liu3.jpg" style="height: 80px;">
                    <img class="data-avt list-img" src="" style="height: 80px;">
                </div>
                <p class="time">3分钟前</p>
                <img class="c-icon" src="../addons/joza_pyqad/images/1b/pl_icon.png">
            </div>
        </div>
    </li>
 <!-- ad 1-->
{if !empty($reply['ad_avatar'])}
<li class="ad">
  <div class="po-avt-wrap">
      <img class="po-avt" src="{$_W['attachurl']}{$reply['ad_avatar']}">
  </div>
  <div class="po-cmt">
      <div class="po-hd">
          <p class="ads">推广<img src="../addons/joza_pyqad/images/ads.png"></p>
          <p class="po-name">{$reply['ad_title']}</p>
          <div class="post" style="padding-bottom:0px;">{$reply['ad_description']}
              <p><a class="ad-link" href="{$reply['ad_url']}">查看详情 <img src="../addons/joza_pyqad/images/link_icon.png"></a></p>
              <a href="{$reply['ad_url']}"><img class="list-img" style="margin-right:5px;" src="{$_W['attachurl']}{$reply['ad_img1']}"></a>
              <a href="{$reply['ad_url']}"><img class="list-img" style="margin-right:5px;" src="{$_W['attachurl']}{$reply['ad_img2']}"></a>
              <a href="{$reply['ad_url']}"><img class="list-img" style="margin-right:5px;" src="{$_W['attachurl']}{$reply['ad_img3']}"></a>
          </div>
          <div class="post" style="padding-bottom:0px;margin-top:0px;">
              <a href="{$reply['ad_url']}"><img class="list-img" style="padding-top:5px;margin-right:5px;" src="{$_W['attachurl']}{$reply['ad_img4']}"></a>
              <a href="{$reply['ad_url']}"><img class="list-img" style="padding-top:5px;margin-right:5px;" src="{$_W['attachurl']}{$reply['ad_img5']}"></a>
              <a href="{$reply['ad_url']}"><img class="list-img" style="padding-top:5px;margin-right:5px;" src="{$_W['attachurl']}{$reply['ad_img6']}"></a>
          </div>

          <p class="time">48分钟前</p><img class="c-icon" src="../addons/joza_pyqad/images/1a/pl_icon.png">
      </div>
      <div class="r"></div>
      <div class="cmt-wrap">
          <div class="like"><img src="../addons/joza_pyqad/images/like_icon.png">范冰冰，李晨，周杰伦，王健林，...</div>
          <div class="cmt-list">
              <p><span>范冰冰：</span>{$reply['ad_des1']}</p>
              <p><span>李晨</span>回复<span>范冰冰 ：</span>{$reply['ad_des2']}<img class="bq" src="../addons/joza_pyqad/images/1a/bq1.png"></p>
              <p><span>周杰伦：</span>{$reply['ad_des3']}</p>
          </div>
      </div>
  </div>
</li>
{/if}
    
    
         <li>
                <div class="po-avt-wrap">
                    <img class="po-avt data-avt" src="">
                </div>
                <div class="po-cmt">
                    <div class="po-hd">
                        <p class="po-name"><span class="data-name"></span></span></p>
                        <div class="post">
                            <p>从明天开始戒酒，如果再喝一口的话，不用你们说...我自罚三杯！</p>
                            <p>
                                <img class="list-img" src="../addons/joza_pyqad/images/1b/jiu1.jpg" style="height: 80px;">
                                <img class="list-img" src="../addons/joza_pyqad/images/1b/jiu2.jpg" style="height: 80px;">
                                <img class="list-img data-avt" src="" style="height: 80px;">
                            </p>
                        </div>
                        <p class="time">50分钟前</p><img class="c-icon" src="../addons/joza_pyqad/images/1b/pl_icon.png">
                    </div>
                    <div class="r"></div>
                    <div class="cmt-wrap">
                        <div class="like"><img src="../addons/joza_pyqad/images/like_icon.png">千颂伊，鹿晗，郑凯，李晨，王祖蓝，…</div>
                        <div class="cmt-list">
                        <p><span>都敏俊：</span>初雪天气，正好啤酒+炸鸡，晚上来不？</p>
                        <p><span class="data-name"></span>回复<span>都敏俊：</span>千颂伊也会来不？</p>
                        <p><span>鹿晗：</span>戒酒很容易的，我都戒了几次了～</p>
                        <p><span class="data-name"></span>回复<span>鹿晗：</span>同意！</p>
                        </div>
                    </div>
                </div>
            </li>
   
    <li>
        <div class="po-avt-wrap">
            <img class="po-avt" src="../addons/joza_pyqad/images/1b/TF1.jpeg">
        </div>
        <div class="po-cmt">
            <div class="po-hd">
                <p class="po-name">TFboy-王俊凯</p>
                <div class="post">
                    <p>有人说我丑，我真TMD笑了。。。<br><br><br><br>你是没有见过我那帮朋友~</p>
                    <p>
                        <img src="../addons/joza_pyqad/images/1b/TF2.jpeg">
                    </p>
                </div>
                <p class="time">50分钟前</p>
                <img class="c-icon" src="../addons/joza_pyqad/images/1b/pl_icon.png">
            </div>
            <div class="r">
            </div>
            <div class="cmt-wrap">
                <div class="like">
                    <img src="../addons/joza_pyqad/images/like_icon.png">
                    <b class="data-name"></b>
                </div>
                <div class="cmt-list">
                    <p><span>tfboy-王源：</span>。。。。</p>
                    <p><span>黄晓明：</span>。。。。</p>
                    <p><span class="data-name"></span><span>：</span>。。。。</p>
                    <p><span>tfboy-王俊凯</span>回复<span class="data-name"></span><span>：</span>点赞的最帅！</p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="po-avt-wrap">
            <img class="po-avt" src="../addons/joza_pyqad/images/1b/a7.jpg">
        </div>
        <div class="po-cmt">
            <div class="po-hd">
                <p class="po-name">金星</p>
                <p class="post">完美！<img src="{$_W['attachurl']}{$reply['ad_erweima']}"></p>
                <p class="time">55分钟前</p>
                <img class="c-icon" src="../addons/joza_pyqad/images/1b/pl_icon.png">
            </div>
            <div class="r"> </div>
            <div class="cmt-wrap">
                <div class="cmt-list">
                    <p><span class="data-name"></span><span>：</span>星姐，求虐！</p>
                    <p><span>金星</span>回复<span class="data-name"></span><span>：</span>你呢，人长的挺好看，就是偏偏要靠才华。</p>
                </div>
            </div>
        </div>
    </li>
</ul>
 </script>


<script>



        function safetostring(str) {
            return String(str).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"').replace(/&#39;/g, "'");
        }
        var nickname = '{$nickname}';
        var headimgurl = "{$avatar}";
        var city = "{$city}";
        if(city == ""){
            var city = "中国";
        }

        $("#list").html($("#scene").html());
        setTimeout(function(){
            $(".data-name").text(safetostring(nickname));
            $(".data-avt").attr("src",headimgurl);
            $(".data-city").text(safetostring(city));

            var cw = $('.list-img').width();
            $('.list-img').css({'height':cw+'px'});
        },0);
        $(window).resize(function() {
            var cw = $('.list-img').width();
            $('.list-img').css({'height':cw+'px'});
        });

        $(document.body).show();
        function hideActionSheet(weuiActionsheet, mask) {
            weuiActionsheet.removeClass('weui_actionsheet_toggle');
            mask.removeClass('weui_fade_toggle');
            weuiActionsheet.on('transitionend', function () {
                mask.hide();
            }).on('webkitTransitionEnd', function () {
                mask.hide();
            })
        }

        function showActionSheet(weuiActionsheet, mask) {
            // var mask = $('#mask');
            // var weuiActionsheet = $('#weui_actionsheet');
            weuiActionsheet.addClass('weui_actionsheet_toggle');
            mask.show().addClass('weui_fade_toggle').click(function () {
                hideActionSheet(weuiActionsheet, mask);
            });
            $('.actionsheet_cancel').click(function () {
                hideActionSheet(weuiActionsheet, mask);
            });
            weuiActionsheet.unbind('transitionend').unbind('webkitTransitionEnd');
        }

        $('#list').not( ".noplayimg" ).on('click', function () {
            weuiActionsheet = $('#actionSheet_wrap').children('#weui_actionsheet');
            mask = $('#actionSheet_wrap').children('#mask');
            showActionSheet(weuiActionsheet,mask);
        });
        $('img').not( ".noplayimg" ).on('click', function (e) {
            weuiActionsheet = $('#actionSheet_wrap').children('#weui_actionsheet');
            mask = $('#actionSheet_wrap').children('#mask');
            showActionSheet(weuiActionsheet,mask);
        });

        $('#gotoplay').click(function(){
            weuiActionsheet = $('#actionSheet_wrap').children('#weui_actionsheet');
            mask = $('#actionSheet_wrap').children('#mask');
            showActionSheet(weuiActionsheet,mask);
        });

        $('.play_pyq').unbind('click').on('click', function () {
            weuiActionsheet = $('#actionSheet_wrap').children('#weui_actionsheet');
            mask = $('#actionSheet_wrap').children('#mask');
            var scene = "";
            var scene = $(this).attr("data-scene");
            //alert(scene);
            hideActionSheet(weuiActionsheet, mask);
            checktype(scene);
            
        });

        function checktype(scene){
            weuiActionsheet = $('#actionSheet_wrap_child').children('#weui_actionsheet_child');
            mask = $('#actionSheet_wrap_child').children('#mask_child');
            showActionSheet(weuiActionsheet,mask);

            $('.play_type').unbind('click').click(function(){
                var type = $(this).attr("data-type");
                gotoplay(scene,type);
            })
        }

 
        function gotoplay(scene,type) {
            if(scene ==1){
                if(type =="a"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'1','t'=>'a'))}";
                }else if(type =="b"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'1','t'=>'b'))}";
                }else if(type =="c"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'1','t'=>'c'))}";
                }else if(type =="d"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'1','t'=>'d'))}";
                }else if(type =="e"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'1','t'=>'e'))}";
                }
            }else{
                if(type =="a"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'2','t'=>'a'))}";
                }else if(type =="b"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'2','t'=>'b'))}";
                }else if(type =="c"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'2','t'=>'c'))}";
                }else if(type =="d"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'2','t'=>'d'))}";
                }else if(type =="e"){
                    var gourl = "{php echo $this->createMobileUrl('index', array('id' => $id,'s' =>'2','t'=>'e'))}";
                }
            }
            location.href=gourl;
            //alert(gourl);
        };

          
   
        
    </script>
<style>
body > span{display:none;}
</style>

</body>
<script type="text/javascript">
    // jssdk config 对象
    jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || {};
    // 是否启用调试
    jssdkconfig.debug = false;
    jssdkconfig.jsApiList = [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'showOptionMenu'
    ];

    wx.config(jssdkconfig);
    var sharedata = {
        "imgUrl" : "{$shareimg}",
        "link" : "{$sharelink}",
        "desc" : "{$sharedesc}",
        "title" : "{$sharetitle}"
    };

    wx.ready(function () {
        wx.showOptionMenu();
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
        wx.onMenuShareQQ(sharedata);
        wx.onMenuShareWeibo(sharedata);
    });
</script>
</html>