{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op=='post'}class="active"{/if} ><a href="{php echo $this->createWebUrl('gifts',array('op'=>'post'))}">增加礼品</a></li>
	<li {if !$op}class="active"{/if}><a href="{php echo $this->createWebUrl('gifts')}">礼品列表</a></li>
</ul>
{if !$op}
<style>
th{
	text-align: center !important;
}

td{
	text-align: center !important;
	white-space: normal !important;
	word-break: break-all !important;
}
</style>
<div class="panel panel-default">

	<div class="panel-body" style="text-align: center;">

        <table class="table table-hover">

            <thead class="navbar-inner">

                <tr>
                    <th>礼品</th>		
                    <th>缩略图</th>
                    <th>类型</th>
                    <th>原价</th>
                    <th>消耗积分</th>
                    <th>总量</th>
                    <th>兑换限制</th>
                    <th style="width: 300px;">操作</th>
                </tr>

            </thead>

            <tbody id="table_content">

                {loop $goods $l}

                <tr>

                    <td>{$l['title']}</td>
                    <td><img src="{php echo toimage($l['thumb'])}" style="width: 100px;height: 100px;"></td>
                    <td>{if !$l['type']}实物{else}虚拟{/if}</td>
                    <td>{$l['price']}</td>
                    <td>{$l['score']}</td>
                    <td>{$l['totals']}</td>
                    <td>每人限领{$l['takelimit']}次</td>
                    <td>
                    	<a class="btn btn-warning btn-sm" target="_blank" href="{php echo $this->createWebUrl('order',array('gid'=>$l['id']))}">兑换记录({$l['scan']})</a>
                    	<a href='{php echo $this->createWebUrl("gifts",array("op"=>"post","gid"=>$l["id"]))}' class="btn btn-default btn-sm">编辑</a>
                    	<a href='{php echo $this->createWebUrl("gifts",array("op"=>"delete","gid"=>$l["id"]))}' onclick="return confirm('删除后将不可恢复，确定删除吗？')" class="btn btn-danger btn-sm">删除</a>
                    </td>

                </tr>

                {/loop}

            </tbody>

        </table>

        {$pager}

    </div>

</div>
{else}
{php load()->func('tpl');}
<form action="" method="post" class="form-horizontal" role="form">
<div class="panel panel-default">
<div class="panel-heading">礼品设置</div>
	<div class="panel-body">
		<input type="hidden" name="id" value="{$item[id]}">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label" style="padding-top: 0">类型</label>
				<div class="col-sm-9">
					<label><input type="radio" name="type" value="0" checked/> 实物</label>
					<label><input type="radio" name="type" value="1" {if $item['status']}checked{/if} /> 虚拟</label>
					<div class="help-block">兑换将填写姓名与手机号码，实物礼品需要填写地址</div>
				</div>	
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">礼品名称</label>
				<div class="col-sm-9">
					<input class="form-control" name="title" id="" type="text" value="{$item['title']}">
				</div>	
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">礼品图标</label>
				<div class="col-sm-9">
					{php echo tpl_form_field_image('thumb', $item['thumb']);}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">礼品总数</label>
				<div class="col-sm-9">
					<input class="form-control" name="totals" type="number" min="0" value="{$item['totals']}">
					<div class="help-block">0为不限制</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">每人限领数</label>
				<div class="col-sm-9">
					<input class="form-control" name="takelimit" type="number" min="0" value="{$item['takelimit']}">
					<div class="help-block">0为不限制</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">兑换积分</label>
				<div class="col-sm-9">
					<input class="form-control" name="score" type="number" min="0" value="{$item['score']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">原价</label>
				<div class="col-sm-9">
					<input class="form-control" name="price" type="text"  value="{$item['price']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">礼品简介</label>
				<div class="col-sm-9">
					<textarea class="form-control" name="description" style="height: 100px">{$item['description']}</textarea>
				</div>	
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">排序</label>
				<div class="col-sm-9">
					<input class="form-control" name="displayorder" type="number" min="0" value="{if $item['displayorder']}{$item['displayorder']}{else}0{/if}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label" style="padding-top: 0">状态</label>
				<div class="col-sm-9">
					<label><input type="radio" name="status" value="0" checked/> 显示</label>
					<label><input type="radio" name="status" value="1" {if $item['status']}checked{/if} /> 隐藏</label>
				</div>	
			</div>
			</div>
		</div>
			<button type="submit" class="btn btn-primary" name="submit" value="提交">保存</button>
			<input type="hidden" name="token" value="{$_W['token']}" />
</form>
{/if}
{template 'common/footer'}