<ul class="nav nav-tabs">
{if $do=='create' || $do=='poster'}
	<li {if $do=='create'}class="active"{/if} ><a href="{php echo $this->createWebUrl('create')}">生成图文海报</a></li>
	<li {if $do=='poster'}class="active"{/if}><a href="{php echo $this->createWebUrl('poster')}">图文海报</a></li>
{/if}
{if $do=='screate' || $do=='sposter'}
<li {if $do=='screate'}class="active"{/if}><a href="{php echo $this->createWebUrl('screate')}">生成积分海报</a></li>
<li {if $do=='sposter'}class="active"{/if}><a href="{php echo $this->createWebUrl('sposter')}">积分海报</a></li>
{/if}
{if $do=='mcreate' || $do=='mposter'}	
<li {if $do=='mcreate'}class="active"{/if}><a href="{php echo $this->createWebUrl('mcreate')}">生成分享海报</a></li>
<li {if $do=='mposter'}class="active"{/if}><a href="{php echo $this->createWebUrl('mposter')}">分享海报</a></li>
{/if}
{if $do=='icreate' || $do=='iposter'}   
<li {if $do=='icreate'}class="active"{/if}><a href="{php echo $this->createWebUrl('icreate')}">生成邀请海报</a></li>
<li {if $do=='iposter'}class="active"{/if}><a href="{php echo $this->createWebUrl('iposter')}">邀请海报</a></li>
{/if}
</ul>