{template 'common/header'}
{template 'tabs'}

<style>
th{
	text-align: center !important;
}

td{
	text-align: center !important;
	white-space: normal !important;
	word-break: break-all !important;
}
</style>
<div class="panel panel-default">

	<div class="panel-body" style="text-align: center;">

        <table class="table table-hover">

            <thead class="navbar-inner">

                <tr>

                    <th>海报名称</th>		
                    <th>积分</th>
                    <th>领取人数</th>
                    <th>创建时间</th>	
                    <th>操作</th>

                </tr>

            </thead>

            <tbody id="table_content">

                {loop $list $l}

                <tr>

                    <td><a target="_blank" title="预览" href="{php echo str_replace('#pid#',$l['id'],$this->Qrcode)}">{$l['title']}</a></td>
                    <td>{$l['score']}</td>
                    <td><a target="_blank" href="{php echo $this->createWebUrl('record',array('pid'=>$l['id']))}">{$l['scan']}</a></td>
                    <td>{php echo date('Y-m-d H:i:s',$l['createtime'])}</td>
                    <td>

                    	<a href='{if $l['type']}{php echo $this->createWebUrl("screate",array("pid"=>$l["id"]))}{else}{php echo $this->createWebUrl("create",array("pid"=>$l["id"]))}{/if}' class="btn btn-default btn-sm">编辑</a>
						
                    	<a href='{php echo $this->createWebUrl("mposter",array("op"=>"delete","pid"=>$l["id"]))}' onclick="return confirm('删除后将不可恢复，确定删除吗？')" class="btn btn-danger btn-sm">删除</a>

						<a href="{php echo $this->createWebUrl('download',array('pid'=>$l['id']))}" class="btn btn-info btn-sm">下载</a>
                    </td>

                </tr>

                {/loop}

            </tbody>

        </table>

        {$pager}

    </div>

</div>
{template 'common/footer'}