{php pdo_query("UPDATE ".tablename('yoby_sd')." SET num = num+1 WHERE id=".$rs['id']);}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset='utf-8'>

		<title>树洞评论</title>
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="keywords" content="微树洞,表白墙,留言板">
		<meta http-equiv="description" content="多功能应用,可用于树洞,表白墙,留言板">
		<meta name="viewport"
			content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<link href="../addons/yoby_sd/ui/css/style.css" type="text/css" rel="stylesheet">
		<link href="../addons/yoby_sd/ui/css/font.css" type="text/css" rel="stylesheet">
				<script type="text/javascript" src="../addons/yoby_sd/ui/jquery.min.js"></script>
		<script type="text/javascript" src="../addons/yoby_sd/ui/js/fn.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
		<style type="text/css">
.bg_shit {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -10;
}

.item_shit {
	margin-left: 15px;
	padding: 10px 10px 5px 10px;
	opacity: 0.8;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 2px 2px #eee;
}

#shit_bgcolor {
	list-style: none;
	padding: 0;
	margin: 0;
}

#shit_bgcolor li {
	width: 30px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 15px;
	text-align: center;
}
</style>

		<script type="text/javascript">
function check() {
	var content = document.getElementsByName("content")[0].value;
	var bgcolor = $('input[name="bgcolor"]:checked').val();
var sid = document.getElementById("sid").value;
	if ($.trim(content) == "") {
		$("#msg").text("不能为空");
		return false;
	}

	if (bgcolor == undefined) {
		$("#msg").text("请选择一个背景色");
		return false;
	}

	if (content.length > 480) {
		$("#msg").text("消息内容不能过长");
		return false;
	}
		if (content.length < 2) {
		$("#msg").text("消息内容不能少于2个字");
		return false;
	}
	$(":button").attr("disabled", true);
	$(":button").val("提交中...");

	var url = "{php echo $this->createMobileUrl('ping')}";
	$.post(url, {
	sid:sid,
		content : content,
		bgcolor : bgcolor
	}, function(data) {
		window.location.reload();
	});
}
</script>
	</head>

	<body onload="checkMM()">
		<img class="bg_shit" src="{$bgimg}"
			style="width: 100%; height: 100%" />

		<div
			style="background-color: #EA2534; padding: 8px 0; text-align: center; margin: -8px -8px 20px -8px;">
			<div style="font-size: 24px; font-weight: bold; color: #fff;">
				树洞
				<span style="font-size: 15px">--吐槽·心声·秘密</span>
			</div>
		</div>

		

		<table width="100%" cellpadding="0" cellspacing="0" border="0"
			style="margin-top: 15px">
			<tr>
				<td valign="middle">
					<div
						style="height: 50px; line-height: 50px; width: 50px; border-radius: 25px; text-align: center; background-color: #{$rs['bgcolor']}">
						<span style="font-size: 13px; color: #fff">洞主</span>
					</div>
				</td>
				<td width="100%">
					<div class="item_shit">
						<div
							style="padding-bottom: 8px; text-indent: 2em; font-family: '微软雅黑', Tahoma, Verdana, Arial, Helvetica, sans-serif;">
							{$rs['content']}
						</div>
						<div style="font-size: 14px; color: #666">
							&nbsp;
							<span style="float: right;">{php echo timeshudong($rs['createtime'])}</span>
						</div>
					</div>
				</td>
			</tr>
		</table>

		<div style="height: 0px; border: 1px dotted #eee; margin: 15px 0;"></div>

		<div>
			{loop $list $item}
			<table width="100%" cellpadding="0" cellspacing="0" border="0"
				style="margin-top: 15px">
				<tr>
					<td valign="middle">
						<div
							style="height: 50px; line-height: 50px; width: 50px; border-radius: 25px; text-align: center;background-color: #{$item['bgcolor']}">
							<span style="font-size: 13px; color: #fff">{if $item['openid']==$rs['openid']}洞主{else}#{$item['pid']}{/if}</span>
						</div>
					</td>
					<td width="100%">
						<div class="item_shit">
							<div
								style="padding-bottom: 8px; text-indent: 2em; font-family: '微软雅黑', Tahoma, Verdana, Arial, Helvetica, sans-serif;">
								{$item['content']}
							</div>
							<div style="font-size: 13px; color: #666">
								&nbsp;
								<span style="float: right;">{php echo timeshudong($item['createtime'])}</span>
							</div>
						</div>
					</td>
				</tr>
			</table>
			{/loop}
		</div>


	<div style="margin-top: 20px;">
			
			<div class="page">
{$pager}
				<div style="clear: both;"></div>
			</div>
		</div>
		
		<!-- 发布吐槽回复 -->
		<div id="pubForm" style="margin-top: 15px; display: none">
			<form method="post" name="form">
				<div class="html5yj" style="margin-top: 0px">
					<div class="formhead_n">
						<div>
							<span class="icon icon-compose"></span>&nbsp;评论此条洞语
						</div>
					</div>
					<div style="padding: 10px 10px 3px 10px">
						<div class="text1">
							评论内容
						</div>
						<textarea rows="4" cols="" name="content" class="html5area_n"
							onclick="clearMsg();"></textarea>
						<hr />
						<div class="text1">
							背景色
						</div>
						<ul id="shit_bgcolor">
							<li style="background-color: #1A531E;">
								<input type="radio" name="bgcolor" value="1A531E" checked />
							</li>
							<li style="background-color: #1E0155;">
								<input type="radio" name="bgcolor" value="1E0155" />
							</li>
							<li style="background-color: #FF7F00;">
								<input type="radio" name="bgcolor" value="FF7F00" />
							</li>
							<li style="background-color: #AB291C;">
								<input type="radio" name="bgcolor" value="AB291C" />
							</li>
							<li style="background-color: #8E8460;">
								<input type="radio" name="bgcolor" value="8E8460" />
							</li>
							<li style="background-color: #017BBE;">
								<input type="radio" name="bgcolor" value="017BBE" />
							</li>
						</ul>
						<div style="clear: both"></div>
						<hr />
						<input type="button" value="提 交" onclick="check();"
							class="html5btn">
						<div id="msg"></div>
					</div>
				</div>
			</form>
		</div>

		<div id="pubBtn" style="margin-top: 15px;">
		<input type="hidden" value="{$rs['id']}" id="sid" name="sid">
			<input type="button" value="点此发布评论" class="html5btn"
				onclick="showPubForm();" style="background: #428BCA; color: #fff;">
			<script type="text/javascript">
function showPubForm() {
	$("#pubForm").show();
	$("#pubBtn").hide();
}

wx.ready(function () {
  wx.hideOptionMenu();
})
</script>
		</div>

<div style="text-align: center; margin-top: 15px; font-size: 13px; color: #666" id="copyright">&copy;{php echo date('Y')}&nbsp;&nbsp;<span id="wxName">{$_W['account']['name']}</span></div>

		<div id="mybar_dis"></div>
		<div id="mybar">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr align="center" height="40px"
					style="line-height: 40px; color: #fff">
					
					<td style="border-right: 1px solid #666"
						onclick='location.href="{php echo $this->createMobileUrl('index')}"'>
						最新
					</td>
					<td width="35%" style="border-right: 1px solid #666"
						onclick='location.href="{php echo $this->createMobileUrl('index2')}"'>
						热门
					</td>
					<td width="35%" onclick='location.href="{php echo $this->createMobileUrl('index3')}"'>
						我
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
