<!DOCTYPE html>
<html class="page_index" lang="zh-CN">
<head>
	<title>游戏分类浏览</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../addons/hc_moreshop/style/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../addons/hc_moreshop/style/css/common1.css">
    <link rel="stylesheet" type="text/css" href="../addons/hc_moreshop/style/css/search-page.css">
    
</head>
<body>
<div>
	<!--
	<section class="search-form">
        <div class="search-inner">
            <i class="icon-search-gray"></i>
            <input class="search-input radius" id="search-input" type="text" placeholder="请输入关键词">
            <button class="search-btn" id="search-btn" onclick="btnSearch()">搜索</button>
        </div>
    </section>
	-->
    <section class="search-class" >
        <ul class="search-class-ul">
			<li><a href="{php echo $this->createMobileUrl('fangfangkan')}" class="search-class-a" >&nbsp;1. 翻翻看<i class="icon-arrow"></i></a></li>
			<li><a href="{php echo $this->createMobileUrl('fangfangkan')}" class="search-class-a" >&nbsp;2. 一元夺宝<i class="icon-arrow"></i></a></li>
        </ul>
    </section>
</div>
</body>
</html>