
<!doctype html>
<html>
<head>
<title>个人中心</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../addons/hc_fxdaren/style/img/mobi.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="分享达人" />
<meta name="Keywords" content="分享达人" />
</head>
<body style="background-image:url(../addons/hc_fxdaren/style/img/bg.jpg);">
<section class="main animated fadeInDown">
  <div class="main-box user-center">
    <div class="regular hd">
      <figure class="figure"> <img src="../addons/hc_fxdaren/style/img/header.png" alt="" /> </figure>
      <div class="user-info">
        <p class="u-name">{$member['realname']}</p>
        <p>{$member['mobile']}</p>
      </div>
      <!-- <a href="#" class="edit"><i class="icon-pencil"></i></a> --> 
    </div>
    <div class="bd">
      <p class="fn-clear"><a href="{php echo $this->createMobileUrl('Myaward')}">我的奖励<i class="icon-right-open-big"></i></a></p>
      <p class="fn-clear"><a href="{php echo $this->createMobileUrl('Play')}">如何玩转达人?<i class="icon-right-open-big"></i></a></p>
      <p class="fn-clear"><a href="{php echo $this->createMobileUrl('Introduce')}">了解达人<i class="icon-right-open-big"></i></a></p>
      <p class="fn-clear"><a href="{php echo $this->createMobileUrl('Regist',array('rid'=>$a['rid']))}">修改资料<i class="icon-right-open-big"></i></a></p>
    </div>
  </div>
  <footer class="foot"><style>
#copyright {width: 100%;height: 50px;line-height: 50px;text-align:center; color:#333;font-size: 15px;}
</style>
<div id="copyright" style="color:#fff;">技术支持：{$_W['account']['name']}</div></footer>
</section>
<nav class="nav fn-clear"> 
	<a href="{php echo $this->createMobileUrl('share')}"><i class="icon-award"></i>达人活动</a> 
	<a href="{php echo $this->createMobileUrl('Myactivity')}"><i class="icon-inbox"></i>我的活动</a> 
	<a href="{php echo $this->createMobileUrl('Home',array('weid'=>$_W['weid']))}"  class="active"><i class="icon-user-1"></i>个人中心</a> 
</nav>

<script src="http://g.tbcdn.cn/kissy/m/0.2.0/mini-full-min.js"></script> 
<script src="../addons/hc_fxdaren/style/img/mobi.js"></script>
</body>
</html>