{template 'common/header'}
<div class="main">
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('list');}">活动列表</a></li>
	<li><a href="./index.php?c=platform&a=reply&do=post&m=ju_redpac">添加活动</a></li>
</ul>	
	<div style="padding:15px;">
		<form action="" method="post">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th align="center" style="width:20px;text-align:center;">ID</th>						
                    <th align="center" style="width:100px;text-align:center;">活动标题</th>
					<th align="center" style="width:40px;text-align:center;">活动时间</th>
					<th align="center" style="width:80px;text-align:center;">红包类型</th>
					<th align="center" style="width:60px;text-align:center;">已参与人次</th>
					<th align="center" style="width:40px;text-align:center;">已领取金额</th>
					<th align="center" style="width:40px;text-align:center;">已发放金额</th>
					<th style="width:80px;text-align:center;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $row}
					<tr>		
						<td align="center" style="text-align:center;">{$row['id']}</td>
                        <td align="center" style="text-align:center;{if $row['status'] == '0'}color:red;{/if}">{$row['title']}</td>
						<td align="center" style="font-size:12px; color:#666text-align:center;">{php echo date('Y-m-d H:i:s',$row['starttime'])}<br />{php echo date('Y-m-d H:i:s',$row['endtime'])}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{if $row['type'] == 1}手气红包{else}普通红包{/if}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{php echo $this->getfansnum($row['rid'])+$row['xuninum']}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{php echo $this->getmoneynum($row['rid'])+$row['xuni']}</td>
						<td align="center" style="font-size:12px; color:#666; text-align:center;">{php echo $this->getsendmoneynum($row['rid'])+$row['xuni']}</td>
						<td style="text-align:center;">
                        	<a href="./index.php?c=platform&a=reply&do=post&m=ju_redpac&rid={$row['rid']}">编辑</a>
                        	<a href="{php echo $this->createWebUrl('awardlist',array('id'=>$row['rid']))}">中奖记录</a>
                        </td>
					</tr>
				{/loop}
			</tbody>
		</table>
	</form>
		{$pager}
	</div>
</div>
{template 'common/footer'}