<!DOCTYPE html><html><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="target-densitydpi=device-dpi,width=750,user-scalable=0">
<title>{$settings[sitename]}</title>
	<link rel="stylesheet" type="text/css" href="../addons/mx_nanshen/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../addons/mx_nanshen/css/t2.css?v=221">
	{php echo register_jssdk(false);}
	<script>
		var userPhoto = "{$headimgurl}";
		var userName = "{$nickname}";
	</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div id="loading" style="display: none;">
		<p>载入中</p>
	</div>
	<div class="main">
		<div class="section" id="p-index" style="display: block;">
			<div class="time">
				<strong></strong>
				<span>8月15日 星期六</span>
			</div>
			<ul class="weixin">
				<li class="on" style="display: list-item;">
					<p>{$settings[ns_name]}<span>现在</span></p>
					<p>{$settings[ns_s1]}</p>
					<p><span>滑动来查看</span></p>
				</li>
				<li style="display: list-item;">
					<p>{$settings[ns_name]} <span>现在</span></p>
					<p>{$settings[ns_s2]}</p>
				</li>
				<li style="display: list-item;">
					<p>{$settings[ns_name]} <span>现在</span></p>
					<p>{$settings[ns_s3]}</p>
				</li>
				<li style="display: list-item;">
					<p>{$settings[ns_name]} <span>现在</span></p>
					<p>{$settings[ns_s4]}</p>
				</li>
				<li style="display: list-item;">
					<p>{$settings[ns_name]} <span>现在</span></p>
					<p>七夕要来了</p>
				</li>
			</ul>
			<div class="slide">
				<p>滑动来解锁</p>
			</div>
			<div class="bottom"></div>
			<div class="camera"></div>
		</div>
		<div class="section animated slideInLeft" id="p-unlock" style="">
			<div class="tips">
				<strong>Touch ID 或输入密码</strong>
				<p class="animated">
					<span>0</span>
					<span>7</span>
					<span>0</span>
					<span>6</span>
				</p>
			</div>
			<ul class="num">
				<li class="num-1"><span></span></li>
				<li class="num-2"><span></span></li>
				<li class="num-3"><span></span></li>
				<li class="num-4"><span></span></li>
				<li class="num-5"><span></span></li>
				<li class="num-6"><span></span></li>
				<li class="num-7"><span></span></li>
				<li class="num-8"><span></span></li>
				<li class="num-9"><span></span></li>
				<li class="num-0"><span></span></li>
			</ul>
			<div class="other">
				<span class="other-1">紧急情况</span>
				<span class="other-2">　取消　</span>
			</div>
		</div>
		<div class="section animated zoomIn" id="p-chat">
			<div class="scroll">
				<div class="time">00:24</div>
				<ul class="list">
					<li class="animated fadeIn">
						<img src="http://5.withgame.sinaapp.com/ims/wangmu.jpg" width="78" height="78">
						<span class="name">王母</span>
						<div class="detail">
							<p>小七，你男人过几天就来找你了！你们悠着点呀，哈哈哈哈！<img src="../addons/mx_nanshen/images/emo-1.png"><img src="../addons/mx_nanshen/images/emo-1.png"><img src="../addons/mx_nanshen/images/emo-1.png"> @织女</p>
							<span></span>
						</div>
					</li>
					<li class="animated fadeIn">
						<img src="http://5.withgame.sinaapp.com/ims/zhinv.jpg" width="78" height="78">
						<span class="name">织女</span>
						<div class="detail">
							<p>一年不见，当然不能矜持呢，羞羞的，你跟 @玉皇 也要悠着点？<img src="../addons/mx_nanshen/images/emo-2.png"></p>
							<span></span>
						</div>
					</li>
					<li class="animated fadeIn">
						<img src="http://5.withgame.sinaapp.com/ims/QQ%E6%88%AA%E5%9B%BE20150815162349.jpg" width="78" height="78">
						<span class="name">太白</span>
						<div class="detail">
							<p>你们七姐妹七夕都悠着点！你们七姐妹七夕都悠着点！你们七姐妹七夕都悠着点！重要的事情我要说三遍<img src="../addons/mx_nanshen/images/emo-3.png"><img src="../addons/mx_nanshen/images/emo-3.png"><img src="../addons/mx_nanshen/images/emo-3.png"></p>
							<span></span>
						</div>
					</li>
					<li class="animated fadeIn">
						<img src="http://5.withgame.sinaapp.com/ims/niulang.jpg" width="78" height="78">
						<span class="name">牛郎</span>
						<div class="detail">
							<p>媳妇，我老想你了，(* ￣3)(ε￣ *)！！</p>
							<span></span>
						</div>
					</li>
					<li class="animated fadeIn">
						<img src="http://5.withgame.sinaapp.com/ims/01fbe655bdd7eb32f87528a14b6ee9.jpg" width="78" height="78">
						<span class="name">大姐</span>
						<div class="detail">
							<p>还能不能让我安静的做个小公主了！</p>
							<span></span>
						</div>
					</li>
					<li class="user animated fadeIn">
						<img src="http://wx.qlogo.cn/mmopen/uI5pczeERTbbZu9rjG2UYGo5IcMZslGicIbnHsPMv8qIK7KdZZPElGbianYkBU48sN0MlThVcL0IxvSpa44iaicPVA/0" width="78" height="78">
						<div class="detail">
							<p>你们在秀恩爱吗？让那些单身狗情何以堪！</p>
							<span></span>
						</div>
					</li>
					<li class="animated fadeIn">
						<img src="http://5.withgame.sinaapp.com/ims/QQ%E6%88%AA%E5%9B%BE20150815162034.jpg" width="78" height="78">
						<span class="name">五姐</span>
						<div class="detail">
							<p>快去朋友圈秀恩爱，就知道我们在说什么了！</p>
							<span></span>
						</div>
					</li>
				</ul>
			</div>
			<div class="bar after">
				<span class="icon-1"></span>
				<div class="input"><p>你们在秀恩爱吗？让那些单身狗情何以堪！<span></span></p></div>
				<span class="icon-2"></span>
				<span class="icon-3"></span>
			</div>
			<div class="area">
				<span></span>
			</div>
		</div>
		<div class="section animated slideInLeft" id="p-weixin-1">
			<div class="scroll">
				<div class="search">
					<div class="input">
						<span class="icon-1">搜索</span>
						<span class="icon-2"></span>
					</div>
				</div>
				<ul class="list">
					<li>
						<img src="http://5.withgame.sinaapp.com/ims/01e1945548a1db0000019ae9072673.jpg" width="100" height="100">
						<div class="detail">
							<p><strong>七夕要来了</strong><span>14:57</span></p>
							<p>快去朋友圈秀恩爱，就知道我们在说什么了...</p>
						</div>
					</li>
					<li>
						<img src="http://5.withgame.sinaapp.com/ims/he.jpg" width="100" height="100">
						<div class="detail">
							<p><strong>秀恩爱3</strong><span>14:41</span></p>
							<p>快去朋友圈秀恩爱，就知道我们在说什么了</p>
						</div>
					</li>
					<li>
						<img src="http://5.withgame.sinaapp.com/ims/he.jpg" width="100" height="100">
						<div class="detail">
							<p><strong>秀恩爱2</strong><span>14:39</span></p>
							<p>快去朋友圈秀恩爱，就知道我们在说什么了</p>
						</div>
					</li>
					<li>
						<img src="http://5.withgame.sinaapp.com/ims/he.jpg" width="100" height="100">
						<div class="detail">
							<p><strong>秀恩爱1</strong><span>13:20</span></p>
							<p>快去朋友圈秀恩爱，就知道我们在说什么了</p>
						</div>
					</li>
					<li>
						<img src="http://5.withgame.sinaapp.com/ims/niulang.jpg" width="100" height="100">
						<div class="detail">
							<p><strong>牛郎</strong><span>12:54</span></p>
							<p>快去朋友圈秀恩爱，就知道我们在说什么了</p>
						</div>
					</li>
					<li>
						<img src="http://5.withgame.sinaapp.com/ims/zhinv.jpg" width="100" height="100">
						<div class="detail">
							<p><strong>织女</strong><span>12:54</span></p>
							<p>快去朋友圈秀恩爱，就知道我们在说什么了</p>
						</div>
					</li>
					<li>
						<img src="http://5.withgame.sinaapp.com/ims/wangmu.jpg" width="100" height="100">
						<div class="detail">
							<p><strong>王母</strong><span>昨天</span></p>
							<p>恩 好[撇嘴]</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="bar">
				<span></span>
			</div>
			<div class="dot"></div>
		</div>
		<div class="section" id="p-weixin-2">
			<div class="scroll">
				<ul>
					<li class="li-1">
						<strong>朋友圈</strong>
						<span></span>
						<div class="new"><img src="http://5.withgame.sinaapp.com/ims/zhinv.jpg" width="64" height="64"><i></i></div>
					</li>
				</ul>
				<ul>
					<li class="li-2">
						<strong>扫一扫</strong>
						<span></span>
					</li>
					<li class="li-3">
						<strong>摇一摇</strong>
						<span></span>
					</li>
				</ul>
				<ul>
					<li class="li-4">
						<strong>附近的人</strong>
						<span></span>
					</li>
					<li class="li-5">
						<strong>漂流瓶</strong>
						<span></span>
					</li>
				</ul>
				<ul>
					<li class="li-6">
						<strong>购物</strong>
						<span></span>
					</li>
					<li class="li-7">
						<strong>游戏</strong>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="bar">
				<span></span>
			</div>
			<div class="dot"></div>
		</div>
		<div class="section animated slideInRight" id="p-quan">
			<div class="banner"><img src="http://5.withgame.sinaapp.com/ims/fengmian.jpg" width="100%"></div>
			<div class="user">
				<img src="http://wx.qlogo.cn/mmopen/uI5pczeERTbbZu9rjG2UYGo5IcMZslGicIbnHsPMv8qIK7KdZZPElGbianYkBU48sN0MlThVcL0IxvSpa44iaicPVA/0" width="140" height="140">
				<span>大雄</span>
			</div>
			<ul class="list">
				<li>
					<img src="http://5.withgame.sinaapp.com/ims/zhinv.jpg" width="84" height="84" class="user-photo">
					<div class="detail">
						<p class="name">织女</p>
						<p class="content">待我长发及腰，牛郎娶我可好！<img src="../addons/mx_nanshen/images/emo-4.png"><img src="../addons/mx_nanshen/images/emo-4.png"></p>
						<div class="photo"><img src="http://5.withgame.sinaapp.com/ims/01c5da5548a3ba0000019ae937f391.jpg"></div>
						<div class="info">
							<p class="time">1分钟前</p>
							<div class="btn"></div>
							<div class="out animated slideInRight">
								<span class="out-1"><i></i>赞</span>
								<span class="out-2"><i></i>评论</span>
								<em></em>
							</div>
						</div>
						<div class="comment">
							<div class="zan"><span>王母</span>，<span>玉皇</span>，<span>大姐</span>，<span>五姐</span>，<span>太白</span></div>
							<div class="comment-list">
								<p><span>大姐</span>：待你长发及腰，上厕所要撩开可好？！</p>
								<p><span>五姐</span>：大姐你还是辣么恶心！<img src="../addons/mx_nanshen/images/emo-5.png"></p>
								<p><span>牛郎</span>：你头发不是已经到腰了么！！</p>
								<p><span>王母</span>：织女呀！</p>
								<p><span>玉皇</span>：为你操碎了心，呃呃呃！<img src="../addons/mx_nanshen/images/emo-6.png"></p>
							</div>
							<div class="arrow"></div>
						</div>
					</div>
				</li>
				<li>
					<img src="http://5.withgame.sinaapp.com/ims/01fbe655bdd7eb32f87528a14b6ee9.jpg" width="84" height="84" class="user-photo">
					<div class="detail">
						<p class="name">大姐</p>
						<p class="content">大家好，我也要下凡了！请多多关照哟~</p>
						<div class="photo"><img src="http://5.withgame.sinaapp.com/ims/01fbe655bdd7eb32f87528a14b6ee9.jpg"></div>
						<div class="info">
							<p class="time">8分钟前</p>
							<div class="btn"></div>
							<div class="out animated slideInRight">
								<span class="out-1"><i></i>赞</span>
								<span class="out-2"><i></i>评论</span>
								<em></em>
							</div>
						</div>
						<div class="comment">
							<div class="zan"><span>牛郎</span></div>
							<div class="comment-list">
								<p><span>织女</span>：大姐，思春了！</p>
								<p><span>五姐</span>：姐夫帅么？搓手在线等po图！<img src="../addons/mx_nanshen/images/emo-7.png"></p>
								<p><span>王母</span>：我会去抓你回来的亲！</p>
								<p><span>牛郎</span>：姐，hold住！我马上回来~</p>
							</div>
							<div class="arrow"></div>
						</div>
					</div>
				</li>
				<li>
					<img src="http://5.withgame.sinaapp.com/ims/niulang.jpg" width="84" height="84" class="user-photo">
					<div class="detail">
						<p class="name">牛郎</p>
						<p class="content">昨晚撸啊撸不小心Lu伤了！再也不能美美的当小公举了，不开心！<img src="../addons/mx_nanshen/images/emo-8.png"></p>
						<div class="photo"><img src="http://5.withgame.sinaapp.com/ims/01c5da5548a3ba0000019ae937f391.jpg"></div>
						<div class="info">
							<p class="time">14分钟前</p>
							<div class="btn"></div>
							<div class="out animated slideInRight">
								<span class="out-1"><i></i>赞</span>
								<span class="out-2"><i></i>评论</span>
								<em></em>
							</div>
						</div>
						<div class="comment">
							<div class="comment-list">
								<p><span>大姐</span>：牛郎，难道不会一口气撸十串大腰子的！</p>
								<p><span>织女</span>：撸伤没关系，你可以借着这个机会学习学习。</p>
								<p><span>玉皇</span>：不哭，介绍我的撸啊撸秘籍给你！皮肤顺便打八折哦！</p>
								<p><span>瞎子</span>：没事我瞎！(*&gt;.&lt;*)</p>
							</div>
							<div class="arrow"></div>
						</div>
					</div>
				</li>
				<li>
					<img src="http://5.withgame.sinaapp.com/ims/wangmu.jpg" width="84" height="84" class="user-photo">
					<div class="detail">
						<p class="name">王母</p>
						<p class="content">伐开心，买包包！卖了几个女儿，人家也有钱了呢！<img src="../addons/mx_nanshen/images/emo-9.png"></p>
						
						<div class="info">
							<p class="time">21分钟前</p>
							<div class="btn"></div>
							<div class="out animated slideInRight">
								<span class="out-1"><i></i>赞</span>
								<span class="out-2"><i></i>评论</span>
								<em></em>
							</div>
						</div>
						<div class="comment">
							<div class="comment-list">
								<p><span>玉皇</span>：嘤嘤嘤，再也不相信真爱了呢！</p>
								<p><span>观音</span>：贱人就是矫情！看你还能怎么装逼怎么飞！<img src="../addons/mx_nanshen/images/emo-10.png"></p>
								<p><span>织女</span>：我只想说：有金主没有介绍给我！</p>
								<p><span>太白</span>：最爱你的人是我，你怎么舍得让我没钱一个人难过！</p>
							</div>
							<div class="arrow"></div>
						</div>
					</div>
				</li>
				<li>
					<img src="http://5.withgame.sinaapp.com/ims/QQ%E6%88%AA%E5%9B%BE20150815162349.jpg" width="84" height="84" class="user-photo">
					<div class="detail">
						<p class="name">太白</p>
						<p class="content">如果大海能够带走我的哀怨！大海不行，我为爱袋盐！</p>
						
						<div class="info">
							<p class="time">39分钟前</p>
							<div class="btn"></div>
							<div class="out animated slideInRight">
								<span class="out-1"><i></i>赞</span>
								<span class="out-2"><i></i>评论</span>
								<em></em>
							</div>
						</div>
						<div class="comment">
							<div class="zan"><span>王母</span>，<span>牛郎</span></div>
							<div class="comment-list">
								<p><span>牛郎</span>：快给我你主治医生的电话！</p>
								<p><span>王母</span>：要不能停下来呀！</p>
								<p><span>铁扇</span>：亲爱的爱你哟~#长得帅说什么都是对的#<img src="../addons/mx_nanshen/images/emo-11.png"></p>
							</div>
							<div class="arrow"></div>
						</div>
					</div>
				</li>
				
			</ul>
			
		</div>
		
	</div>
	
	

	<audio preload="auto" style="width:0;height:0" id="audio-1">
		<source src="../addons/mx_nanshen/images/1.mp3" type="audio/mpeg">
	</audio>
	<audio preload="auto" style="width:0;height:0" id="audio-2">
		<source src="../addons/mx_nanshen/images/2.mp3" type="audio/mpeg">
	</audio>
	<script src="../addons/mx_nanshen/js/jquery-2.1.3.min.js"></script>
	<script src="../addons/mx_nanshen/js/jquery.imgpreload.min.js"></script>
	<script src="../addons/mx_nanshen/js/touch.js"></script>
	<script src="../addons/mx_nanshen/js/t2.js?v=221"></script>
<script type="text/javascript">
    wx.ready(function () {
        sharedata = {
            title: "{$settings[s_title]}",
            desc: "{$settings[s_content]}",
            link: "{php echo $_W['siteroot'].str_replace('./','app/',$this->createMobileurl('nanshen'))}",
            imgUrl: "{$settings[s_img]}",
            success: function(){
                alert("更多好玩请关注官方微信号。");
                window.location.href = '{$settings[guanzhu]}';
            },
            cancel: function(){
                alert("分享失败，可能是网络问题，一会儿再试试？");
            }
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });
	</script>	

	

</body></html>