{template 'common/header'}
<ul class="nav nav-tabs">
  <li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('group', array('op' => 'post'))}">添加组别</a></li>
  <li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('group', array('op' => 'display'))}">管理组别</a></li>
</ul>
<script>
require(['bootstrap'],function($){
	$('.btn').hover(function(){
		$(this).tooltip('show');
	},function(){
		$(this).tooltip('hide');
	});
});
</script> 
{if $operation == 'post'}
<div class="main">
  <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{php echo $id}" />
    <div class="panel panel-default">
      <div class="panel-heading"> 组别管理 </div>
      <div class="panel-body"> 
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">组别名称</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" name="companyname" class="form-control" value="{$category['companyname']}" />
            <div class="help-block"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" name="description" class="form-control" value="{$category['description']}" />
            <div class="help-block"></div>
          </div>
        </div>
        

      </div>
    </div>
    <div class="form-group col-xs-12">
      <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" onclick="return checkform();return false" />
      <input type="hidden" name="token" value="{$_W['token']}" />
    </div>
  </form>
</div>
{elseif $operation == 'display'}
<div class="main">
  <div class="category">
    <form action="" method="post" onsubmit="return formcheck(this)">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:30px;">#</th>
                <th>组别名称</th>
                <th>备注</th>
                <th>人员数量</th>
                <th style="text-align:right">操作</th>
              </tr>
            </thead>
            <tbody>
            {loop $list $row}
            <tr>
              <td></td>
              <td>{$row['companyname']}</td>
              <td>{$row['description']}</td>
              <td>{php echo intval($userList[$row['id']])} 人</td>
              <td style="text-align:right">
              <a href="{php echo $this->createWebUrl('group',array('op'=>'statistical', 'id' => $row['id']))}" class="btn btn-info btn-sm" title="统计数据"><i class="fa fa-times"></i></a>&nbsp;&nbsp;
              
              <a href="{php echo $this->createWebUrl('group',array('op' => 'post', 'id' => $row['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="编辑"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
              <a href="{php echo $this->createWebUrl('group',array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确实删除吗？');return false;"  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a>
              </td>
            </tr>
            {/loop}
            <tr>
              </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
{/if}
{template 'common/footer'} 