<tr>
	<td><input type="text" class="form-control" name="newlevelname[]" value=""></td>
	<td>
        <div class="input-group input-medium">
            <span class="input-group-addon">从</span>
            <input type="text" class="form-control" name="newmin[]" value="">
            <span class="input-group-addon" style="border-left:0px;border-right:0px;">至</span>
            <input type="text" class="form-control" name="newmax[]" value="">
        </div>
    </td>
	<td>
        <a class="btn btn-default btn-sm" onclick="$(this).parents('tr').remove(); return false;" href="#"><i class="fa fa-times"></i></a>
    </td>
</tr>