<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no"   />
    <title>{$_W['account']['name']}|我的收藏</title>
    <script src="{AMOUSE_AUCTION_RES}js/zepto.js"></script>
    <script src="{AMOUSE_AUCTION_RES}js/m.js"></script>
    <link href="{AMOUSE_AUCTION_RES}css/app.css?v=1.7" rel="stylesheet" />
    <link href="{AMOUSE_AUCTION_RES}css/mui.css" rel="stylesheet" />

</head>
<body>
<div>


    <div class="My">
        <h1>未知错误</h1>
        <div class="list">
            未知错误：<br/>
            <h2>请联系客服</h2>
        </div>
    </div>

</div>
</body>
{php echo register_jssdk(false);}
<script type="text/javascript">
    initShare();
    function initShare(){
        wx.ready(function () {
            shareMeta = {
                title: "{$sharedata['share_title']}",
                desc: "{$sharedata['share_desc']}",
                link: "{$shae_url}",
                imgUrl: "{$_W['attachurl']}{$sharedata['share_image']}",
                success: function(){

                },
                cancel: function(){
                    // alert("分享失败，可能是网络问题，一会儿再试试？");
                }
            };
            wx.onMenuShareTimeline(shareMeta);
            wx.onMenuShareAppMessage(shareMeta);
            wx.onMenuShareWeibo(shareMeta);
            wx.onMenuShareQQ(shareMeta);
            wx.onMenuShareQZone(shareMeta);
        });
    }

</script>
</html>
