<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>拍卖出价延时</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css"  href="http://assets.alicdn.com/apps/support/help/css/help-wap.css?t=20130624">
</head>
<body class="wk">
<section class="detail-content">
    <h2>什么是拍卖出价延时</h2>
    <div><p>1、<a href="#1201111a" data-spm-anchor-id="0.0.0.0">出价延时的概念</a></p>

        <p>2、<a href="#1201111b" data-spm-anchor-id="0.0.0.0">出价延时的基本规则</a></p>

        <p>3、<a href="#1201111c" data-spm-anchor-id="0.0.0.0">出价延时举例说明</a></p>

        <p>4、<a href="#1201111d" data-spm-anchor-id="0.0.0.0">出价延时的效果</a></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><strong><a name="1201111a" data-spm-anchor-id="0.0.0.0">出价延时的概念</a></strong></p>

        <p>出价延时是指，当拍品的竞拍时间只剩最后两分钟时，如果有用户出价竞拍，那么系统将会自动延长拍品的竞拍时间。</p>

        <p>&nbsp;</p>

        <p><strong><a name="1201111b">出价延时的基本规则</a></strong></p>

        <div><strong>珍品：</strong></div>
        <div>在设置了出价延时的拍品竞拍结束的前两分钟（以系统接受竞价的时间显示为准），如果有用户出价竞拍，
            那么该次拍卖时间将自动延时五分钟，循环往复直到最后两分钟没有用户出价竞拍时，拍卖结束。
        </div>
        <p>&nbsp;</p>

        <p><strong><a name="1201111c">出价延时举例说明</a></strong></p>

        <div><strong>珍品：</strong></div>
        <div>
            假设某件拍品的拍卖结束时间是6月18日22点整，如果在6月18日21点58分整到21点59分59秒期间，有客户出价，那么系统将拍卖结束时间自动延长至6月18日22点05分；
            如果在22点03分到22点04分59秒期间，有客户出价，那么系统将自动延时到22点10分……以此类推，直到最后两分钟没有新的用户出价，那么该拍品的竞拍结束。
        </div>
        <p>&nbsp;</p>

        <p><strong><a name="1201111d">出价延时的效果</a></strong></p>

        <p>出价延时给拍卖用户带来的便利包括以下几点：</p>

        <p>1.&nbsp; 将给到用户更加充分的参与竞拍的机会。</p>

        <p>2.&nbsp; 避免因为网络或者电脑原因导致的延迟而错失出价机会。</p>
        <p>&nbsp;</p>

        <p>&nbsp;</p></div>
</section>
</body>
</html>