<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>{if !empty($sitem['aname'])}{$sitem['aname']}{else}有缘网{/if}</title>
    <link href="../addons/jy_ppp/css/public_reset.css" rel="stylesheet"/>
    <link href="../addons/jy_ppp/css/public.css" rel="stylesheet"/>
    <link href="../addons/jy_ppp/css/first_sight_batch.css" rel="stylesheet"/>
    <script src="../addons/jy_ppp/js/zepto.min.js"></script>
</head>
<body>
<header class="head">
    <div class="portrait">
        {if !empty($member['avatar'])}
            <img width="48" height="48" src="{$_W['attachurl']}{$member['avatar']}"/>
        {else}
            {if $member['sex']==1}
                <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/boy.png"/>
            {else}
                <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/girl.png"/>
            {/if}
        {/if}
    </div>
    <div class="wel">
        <P class="pink">欢迎回来！</P>
        {if $member['sex']==1}
        <p>她们对你感兴趣，希望你上线招呼一声</p>
        {else}
        <p>他们对你感兴趣，希望你上线招呼一声</p>
        {/if}
    </div>
</header>
<section class="content">
    <div class="list">
        {php $now=time();}
        {loop $tuijian $t}
        <div class="list_user" data-id="{$t['id']}">
            <a class="gray">
                <div class="left">
                    {if !empty($t['avatar'])}
                        <img width="48" height="48" src="{$_W['attachurl']}{$t['avatar']}"/>
                    {else}
                        {if $t['sex']==1}
                            <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/boy.png"/>
                        {else}
                            <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/girl.png"/>
                        {/if}
                    {/if}
                </div>
                <div class="center">
                    <dl>
                        <dt>{$t['nicheng']}</dt>
                        <dd>{$province[$t['province']]}</dd>
                            {if !empty($t['brith'])}
                {php $birthday=$t['brith'];$month=0;if(date('m', $now)>date('m', $birthday))$month=1;if(date('m', $now)==date('m', $birthday))if(date('d', $now)>=date('d', $birthday))$month=1;$nianlin=date('Y', $now)-date('Y', $birthday)+$month;}
                            <dd>{$nianlin}岁</dd>{/if}
                            {if !empty($t['height'])}
                            <dd>{$t['height']}cm</dd>
                            {/if}
                    </dl>
                </div>

            </a>
        </div>
        {/loop}
    </div>
    {if $member['sex']==1}
    <button class="tell" type="button" id="tellId">告诉她们，我上线了</button>
    {else}
    <button class="tell" type="button" id="tellId">告诉他们，我上线了</button>
    {/if}
</section>
</body>
<script type="text/javascript">
    $("#tellId").bind("click",function(){
        var str = "";
        for(var i=0;i<$(".list_user").length;++i){
            str += $(".list_user").eq(i).data("id")+",";
        }
        $.post("{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('zhaohu',array('op'=>'zhaohu')),2)}"+"&str="+str,function(data){
            if(data==1)
            {
                window.location.href="{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl($foo),2)}";
            }
            else
            {
                alert("网络出错，请重试!"+data);
            }
        });
    });
</script>
{if $weixin==1}
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    {php $signPackage=$_W['account']['jssdkconfig'];}
    <script>

        var appid = '{$_W['account']['jssdkconfig']['appId']}';
        var timestamp = '{$_W['account']['jssdkconfig']['timestamp']}';
        var nonceStr = '{$_W['account']['jssdkconfig']['nonceStr']}';
        var signature = '{$_W['account']['jssdkconfig']['signature']}';

        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: nonceStr,
            signature: signature,
            jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo']
        });
    </script>
    <script type="text/javascript">
        var params = {
            {if empty($sitem['sharetitle'])}
            title:"有缘网",
            {else}
            title: "{$sitem['sharetitle']}",
            {/if}
            {if empty($sitem['sharedesc'])}
            desc: "有缘网!",
            {else}
            desc: "{$sitem['sharedesc']}",
            {/if}
            link: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('index'),2)}",
            {if empty($sitem['sharelogo'])}
            imgUrl: "{$_W['siteroot']}addons/jy_ppp/icon.jpg",
            {else}
            imgUrl: "{$_W['attachurl']}{$sitem['sharelogo']}",
            {/if}
        };
        wx.ready(function () {
            wx.showOptionMenu();
            wx.onMenuShareAppMessage.call(this, params);
            wx.onMenuShareTimeline.call(this, params);
        });
    </script>
    {/if}
</html>