<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,509},{219,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,224}}</string>
                <key>sourceSize</key>
                <string>{219,224}</string>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{185,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,217}}</string>
                <key>sourceSize</key>
                <string>{185,217}</string>
            </dict>
            <key>boss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{278,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,217}}</string>
                <key>sourceSize</key>
                <string>{278,217}</string>
            </dict>
            <key>boss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,230},{351,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,221}}</string>
                <key>sourceSize</key>
                <string>{351,221}</string>
            </dict>
            <key>boss_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{174,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,250}}</string>
                <key>sourceSize</key>
                <string>{174,250}</string>
            </dict>
            <key>boss_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,615},{230,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,180}}</string>
                <key>sourceSize</key>
                <string>{230,180}</string>
            </dict>
            <key>boss_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,453},{245,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,160}}</string>
                <key>sourceSize</key>
                <string>{245,160}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,221},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,314},{103,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,212}}</string>
                <key>sourceSize</key>
                <string>{103,212}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,528},{187,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,212}}</string>
                <key>sourceSize</key>
                <string>{187,212}</string>
            </dict>
            <key>level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{187,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,226}}</string>
                <key>sourceSize</key>
                <string>{187,226}</string>
            </dict>
            <key>level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,281},{299,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,226}}</string>
                <key>sourceSize</key>
                <string>{299,226}</string>
            </dict>
            <key>level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{299,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,234}}</string>
                <key>sourceSize</key>
                <string>{299,234}</string>
            </dict>
            <key>level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,277}}</string>
                <key>sourceSize</key>
                <string>{299,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qipafeiji0.png</string>
            <key>size</key>
            <string>{960,803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4683918d95b8557ddd874245b52b515:1/1$</string>
            <key>textureFileName</key>
            <string>qipafeiji0.png</string>
        </dict>
    </dict>
</plist>