{template 'common/header'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="setting-form">
    <input type="hidden" name="id" value="{$set['id']}">
		<div class="panel panel-default">
			<div class="panel-heading">参数设置</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active" ><a href="#tab_basic">分佣等级</a></li>
					<!--li><a href="#tab_share">高级设置</a></li>
					<li><a href="#tab_param">待定3</a></li>
					<li><a href="#tab_param1">待定4</a></li>
					<li><a href="#tab_param2">待定5</a></li-->
				</ul>
				<div class="tab-content">
					<div class="tab-pane  active" id="tab_basic">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th width=100>粉丝等级</th>
                              <th>自购佣金(%)</th>
                              <th>一级分佣(%)</th>
                              <th>二级分佣(%)</th>
                              <th>三级分佣(%)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>普通</td>
                              <td><input type="text" name='z1' value="{$set['z1']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='p1' value="{$set['p1']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='p2' value="{$set['p2']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='p3' value="{$set['p3']}" class="form-control" placeholder="输入数字"></td>
                            </tr>
                            <tr>
                              <td>高级</td>
                              <td><input type="text" name='z2' value="{$set['z2']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='g1' value="{$set['g1']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='g2' value="{$set['g2']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='g3' value="{$set['g3']}" class="form-control" placeholder="输入数字"></td>
                            </tr>
                            <tr>
                              <td>金牌</td>
                              <td><input type="text" name='z3' value="{$set['z3']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='j1' value="{$set['j1']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='j2' value="{$set['j2']}" class="form-control" placeholder="输入数字"></td>
                              <td><input type="text" name='j3' value="{$set['j3']}" class="form-control" placeholder="输入数字"></td>
                            </tr>
                          </tbody>
                        </table>
					</div>

                    <div class="tab-pane" id="tab_share">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">标题2</label>
							<div class="col-sm-8">
								<input type="text" name="share_title" class="form-control" value="{$settings['share_title']}" />
							</div>
						</div>
					</div>

                    <div class="tab-pane" id="tab_param">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">标题3</label>
							<div class="col-sm-8">
								<input type="text" name="share_title" class="form-control" value="{$settings['share_title']}" />
							</div>
						</div>
					</div>

                    <div class="tab-pane" id="tab_param1">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">标题4</label>
							<div class="col-sm-8">
								<input type="text" name="share_title" class="form-control" value="{$settings['share_title']}" />
							</div>
						</div>
					</div>

                    <div class="tab-pane" id="tab_param2">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">标题5</label>
							<div class="col-sm-8">
								<input type="text" name="share_title" class="form-control" value="{$settings['share_title']}" />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
require(['jquery', 'util'], function($, u){
	$(function(){
		u.editor($('.richtext')[0]);
	});
});
$(function () {
		window.optionchanged = false;
		$('#myTab a').click(function (e) {
			e.preventDefault();//阻止a链接的跳转行为
			$(this).tab('show');//显示当前选中的链接及关联的content
		})
	});
</script>
{template 'common/footer'}